[2015-10-22 06:46] scottleibrand opened #9 "oref0-calculate-iob always reports 0"
Regardless of pumphistory and clock, the version of oref0-calculate-iob in dev always reports:
{"iob":0,"activity":0,"bolusiob":0}

[2015-10-28 17:24] scottleibrand commented on #9
saw this again, and it looks like some sort of bug with the new tz() stuff:

[code]

When I revert ae1d082fdb7a7243151572084c31e8981b00a38a by changing `new Date(tz(temp.timestamp));` back to ` Date(temp.timestamp + timeZone);` in iob/history.js, it fixes it:

[code]

[2015-11-14 12:44] tghoward opened #23 "add 'alias edit' ?"
Related to a recent discussion on gitter, one way to minimize my editing the openaps.ini file would be to provide a way to tweak current entries. For example, currently I can:
`openaps alias show myalias`
but if I want to tweak it I need to type (or copy paste) the entire string in again with
`openaps alias add myalias "long string here"`
Perhaps the addition of an `openaps edit myalias` where the

[2015-11-23 21:56] scottleibrand commented on #9
This was fixed in latest master by adding timezones to pumphistory.json and clock.json.

[2015-11-23 21:56] #9 closed

[2015-11-23 22:01] scottleibrand opened #29 "Better low glucose suspend threshold formula"
Per discussion with @cjo20 and @eyim, we should use a more intelligent formula at
https://github.com/openaps/oref0/blob/master/bin/oref0-determine-basal.js#L166
to ensure that threshold drops more slowly than min_bg, and is never less than about 70mg/dL.
Something like https://files.gitter.im/nightscout/intend-to-bolus/gqge/blob maybe.

Note that https://github.com/openaps/oref0/blob/master/lib/pr

[2015-11-23 22:13] cjo20 commented on #29
That formula in my graph simplifies to `0.2 x min_bg + 56`

[2015-11-24 10:06] eyim opened #30 "Problem when person hits the low reading on Dexcom and stays low"
Okay another example of where openaps not doing what I would think it would do. The situation is where he is low and stays low. It looks like openaps simply tries to cancel a high temp if there is one but doesn't try to implement a low temp basal. Basically when Dexcom shows a low, it just reads 39 the entire time. Therefore tick and avg delta = 0 if you stay low for a while and you get this:
{"de

[2015-11-24 23:21] scottleibrand commented on #30
Looks like the < to <= fix was already present in https://github.com/openaps/oref0/commit/ee8ce6e5a1e4cbda8cad4b529d699e96ae578311, which I just merged to dev.  Also added some tests to verify that we're now handling the 39+0 case correctly.

Going to update all my Pi's to the latest dev tonight, and if everything looks good we should be able to merge https://github.com/openaps/oref0/pull/22 tomor

[2015-12-04 20:08] #30 closed

[2015-12-08 07:15] scottleibrand commented on #29
Fixed with https://github.com/openaps/oref0/commit/e4ac7193b7e6e2d10a521f55bc2a876218cca550

[2015-12-08 07:15] #29 closed

[2015-12-08 07:16] scottleibrand commented on #23
If this is still of interest, we'll need to open a new issue against https://github.com/openaps/openaps/issues

[2015-12-08 07:16] #23 closed

[2015-12-17 04:58] audiefile opened #48 "Expected Delta fails to low temp when BG is falling but not as fast as expected"
For example, here a low temp basal was ended because Avg Delta > Expected Delta, even though Eventual BG was much lower than min set.
![screenshot_2015-12-16-23-06-55 2](https://cloud.githubusercontent.com/assets/8140689/11861703/b3d05bc6-a450-11e5-9024-a8ed07ddfcba.jpg)

[2015-12-17 07:22] jasoncalabrese opened #49 "Trying to trackdown mystery iob"
A probably throw away branch with a test:
https://github.com/openaps/oref0/compare/dev...jasoncalabrese:wip/mystery-iob

Test with what I think is the exact pump history doesn't produce the same result, but somehow the bolus snooze of `0.005226074186666674` matches exactly.

   IOB 0.04
   2015-12-16T15:02:44-08:00
   Tree: https://github.com/jasoncalabrese/indy/tree/f04d3b041086e7e0f45492e0320b9d

[2015-12-17 07:27] jasoncalabrese commented on #49
The IOB I'm seeing when running the test is

IOB: 0.197 vs 0.04
and
IOB: 0.177 vs 0.80

[2015-12-17 22:50] jasoncalabrese commented on #49
Updated test to use the correct profile and now can reproduce the same results, but can't explain the result.

[2015-12-17 23:05] jasoncalabrese commented on #49
Comparing https://raw.githubusercontent.com/jasoncalabrese/indy/f04d3b041086e7e0f45492e0320b9d788676fb84/monitor/pump-history-zoned.json to https://raw.githubusercontent.com/jasoncalabrese/indy/daa04a8417d3875fd9cb18be90227e99bcf56f63/monitor/pump-history-zoned.json

The diff is 1 recently started low temp to 0:

[code]

[2015-12-18 00:11] #49 closed

[2015-12-26 10:17] jasoncalabrese commented on #48
Think we can close this since #47 was merged

[2015-12-26 10:17] #48 closed

[2016-01-18 20:59] TC2013 opened #55 "Bug w/ NS Uploading and Ubilinux on Wheezy"
This first treatment entry is NOT picked up by the OpenAPS minutes ago pill, but the second entry below it is...  Ben pointed out that non-working entry is missing " "duration": 30," at Line 5
{
    "_id": {
        "$oid": "569d4d4c2bb7e86eaf13996f"
    },
    "raw_duration": {
        "_type": "TempBasalDuration",
        "_description": "TempBasalDuration 2016-01-18T14:36:40 head[2], body[0] op

[2016-01-18 21:04] bewest commented on #55
Actually, based on the data, I think it should be `duration: 0`, but looking at the code, the eventType shouldn't show up like that unless `duration` exists.

[2016-01-21 04:08] TC2013 commented on #55
This error was user cased.  I run my loop through cron, but I overlapped tasks.  Somehow the data was "misaligned" causing the observed error.  Solution: kill off processes >5min and better timing of loop.

[2016-01-21 04:08] #55 closed

[2016-01-21 06:04] scottleibrand opened #56 "Limits on extended zero temps?"
Do we need some sort of limit on how long oref0 will temp to zero, to avoid bad rebounds and potential ketones?

[2016-01-21 06:06] scottleibrand opened #57 "Alerting framework?"
Can we build in some sort of alerting framework into oref0 that makes it easy to configure alerts for things we should be taking manual action on?

[2016-01-21 06:47] jasoncalabrese commented on #57
If there was a new alerts.json file that we produce with a new tool, we could include it with the status upload to NS or use it in an other tool

[2016-01-21 07:46] scottleibrand opened #58 "Automatic sensitivity/resistance mode"
Would be nice to have oref0 automatically detect when the PWD is more or less sensitive to insulin than normal. Could have it periodically pull 24h of pump and glucose history, calculate BGI for each 15m period and compare it to avgDelta for that period to get each 15m deviation. Take the ~30th percentile deviation (median of the non-meal-absorbing hours of the day), *4 to get hourly, and divide b

[2016-01-21 08:01] scottleibrand commented on #58
In order to detect post-exercise sensitivity, may need to do the same thing on multiple timescales (down to several hours) and use the timescale whose median shows the most sensitivity, or something along those lines.

[2016-01-21 08:04] jasoncalabrese commented on #58
I'm wondering if it would be better to try triggering these modes from an NS treatment first, and get the modes working right before trying to detect when to use them

[2016-01-21 08:08] scottleibrand commented on #58
Idea here would be that (despite the issue title) we could detect *how* sensitive or resistant the body is, rather than just a binary mode that sets a predefined response.

To test this manually, you can set basal patterns that are +/- a percentage from normal basal, and activate those manually when you want to trigger one of these modes. This would detect the need for that automatically, and dyna

[2016-01-21 08:31] oskarpearson commented on #57
I was talking to Siobhan about this after a night with needless beeps and alarms from the pump :)

The pump was buzzing because her sugars were over the threshold - but they were definitely on their way down. We didn't need to be bothered.

We're still figuring out the right alert methods (eg: phone me, send bluetooth message, activate a buzzer in our self built box etc), but some sort of data out

[2016-01-21 19:02] audiefile commented on #57
I think that would be super helpful. Alerts could be much more customized - pushover alert for no loop for x minutes, text message for manual correction bolus, nightscout, etc. Could help with alarm fatigue - you only get notified when there is a problem not being addressed.

[2016-01-21 19:48] sulkaharo commented on #56
Yes. The loop can currently cause a situation where the pump is enacted to zero-temp for >2 hours, if the CWD's BG doesn't raise during the time, which causes a) ketone buildup, and b) greatly increases the risk of cannula blockages. I also suspect we should implement a "minimum basal" setting, where the loop could be configured to never zero temp for more than 30 minutes within a certain time per

[2016-01-21 20:22] jasoncalabrese commented on #56
Maybe we could lower target after some period of low temping?  So we'd still temp to 0 if below 55 or some other limit, but would stop low temping when in the 70's, 80's, etc.

[2016-01-22 01:29] amazaheri commented on #56
:+1:

[2016-01-22 01:30] amazaheri commented on #57
This sounds like a great idea, as we can use method of choice for alerting, Push over, Azure, etc. without having hard dependency on a specific method of delivery.

[2016-01-22 23:04] ktomy opened #59 "After sensor callibration delta is wrong"
![image](https://cloud.githubusercontent.com/assets/1446257/12525466/204cf23a-c16d-11e5-9b73-d03efa816401.png)

After callibration delta should be calculated in a different way or we should stop the loop for a time to understand the trend after callibration.

[2016-01-22 23:05] ktomy commented on #59
Value before callibration: 136, callibrated on 191, new value: 166, delta (wrong): 24

[2016-01-22 23:09] amazaheri commented on #59
This requires the logic to get the info from dexcom to see if calibration indeed happened, there are times that bg levels drops because of pressure or other reasons or spike very fast without calibration.

[2016-01-22 23:23] scottleibrand commented on #59
I would like to understand if we've ever seen a bad dosing decision as a result of this.  Generally when I see a calibration that's way off, the loop overreacts slightly, but in the right direction.  I don't recall any cases where the loop had to dramatically reverse course: it usually just cancels the temp after 15-30m (after the calibration jump drops out of avgDelta) and fine-tunes it from ther

[2016-01-22 23:24] amazaheri commented on #59
Totally agree!

[2016-01-22 23:47] ktomy commented on #59
In my case loop switched basal from 0.3u/h to 1.2u/h for 15 minutes, which means 0.3u were made. Having ISF of 160, the change would be of about 50mg/dl. In my particular case it is not critical as the bg was 160, but it potentially can have a bad effect.

[2016-01-23 00:05] scottleibrand commented on #59
The response is always proportional to the size of the calibration jump.  In fact, the amount of insulin delivered over 30m is equal to the amount of extra insulin required if the BG rises (over the next 30m+) the same amount it has risen in the past 15m.  Since large calibration jumps can only occur when the CGM's reported SGV is way off the meter BG, and because of the way the Dexcom calibration

[2016-01-23 00:24] ktomy commented on #59
Yes, in fact you are basically right, so the worst thing that can happpen, you'll have 15 minutes of maxSafeBasal and the only thing we should be sure is that amount of insulin enjected during this period will not bring you lower than target_bg, starting from the burrent bg value.

[2016-01-23 00:30] scottleibrand commented on #59
I believe that the current algorithm meets that requirement.  However, it would be useful to observe actual behavior around calibration events, as well as run through some test scenarios, and make sure that 15m of high temp does not bring eventualBG below min_bg.

[2016-01-26 18:23] scottleibrand opened #61 "Meal assist "simulated extended bolus" high temps"
When eating a large meal and only bolusing for part of it, meal assist does a good job of giving more insulin as BG is initially rising, but once BG flattens out in range, it will let IOB and insulin activity drop almost to zero (if no manual boluses are performed), and only belatedly deliver the rest of the meal insulin when BG starts to rise quickly again.

It would be better to continue deliver

[2016-01-27 06:28] scottleibrand commented on #61
First attempt at this is in https://github.com/openaps/oref0/tree/meal-assist - the old unit tests are passing, but there are no new ones yet, and I haven't tested it out on live data yet either, so test with care.

[2016-01-28 06:13] scottleibrand commented on #61
The meal-assist branch now does everything described here, plus it will do the simulated extended bolus if snoozeBG is below target but the not-yet-bolused-for carbs would bring it above target.  Have tested this for 24h, but not yet with very much remainingMealBolus.

[2016-01-28 23:18] scottleibrand commented on #56
I think I like the simplicity of Sulka's idea: allow a configurable limit on number of minutes of zero-temp to allow within a DIA-hour period, and a configurable minimum basal to use after that?  Would it be better to disable that by default if it's not configured, or to use some sort of default values (maybe 120m zero-temp, with a minimum of 50% of currently scheduled basal thereafter)?  Any othe

[2016-01-30 00:04] scottleibrand commented on #58
Collecting the insulin activity for arbitrary points in the past is as simple as:

[code]

In English, that means updating the clock.json for each time of interest and running `oref0-calculate-iob pumphistory-24h-zoned.json settings/profile.json clock.json` for each of those times.  It takes about 1 second to run for each time point of interest, so it should be feasible to scan through the glucose

[2016-01-30 22:07] PieterGit opened #62 "mm-format-ns-treatments does not work with Nightscout in mmol/L mode"
I currently see openaps upload it in mg/dL format.
But my nightscout is in mmol/L mode and interprets the bloodvalues wrong.

Example upload:
"amount": 140,
"eventType": "<none>",
"glucose": 140,
"glucoseType": "Finger",
"notes": "Pump received finger stick.",
"medtronic": "mm://openaps/mm-format-ns-treatments/CalBGForPH",
"created_at": "2016-01-30T21:36:06+01:00",
"enteredBy": "openaps://medtroni

[2016-01-30 22:38] PieterGit commented on #62
fix/work around. change oref0/bin/ns-upload.sh to
REST_ENDPOINT="${NIGHTSCOUT_HOST}/api/v1/${TYPE}\?units=mg/dL"
I can confirm that that works.

[2016-01-30 22:59] scottleibrand commented on #62
No downside to that, is there? Want to submit it as a PR?

-Scott

On Sat, Jan 30, 2016 at 2:38 PM -0800, "PieterGit" <notifications@github.com> wrote:

fix/work around. change oref0/bin/ns-upload.sh to

REST_ENDPOINT="${NIGHTSCOUT_HOST}/api/v1/${TYPE}\?units=mg/dL"

I can confirm that that works.

—
Reply to this email directly or view it on GitHub.

[2016-01-30 23:00] PieterGit commented on #62
will have a look at it tomorrow.  will try to create a PR. not a git/github guru yet.

[2016-01-30 23:44] bewest commented on #62
You'd be better off adding it to the `TYPE` when you add a device:

[code]

`ns-upload` is a pretty generic tool; I used to also look for `NIGHTSCOUT_PARAMS` for extra parameters like this, but figured it's more easily put in the `TYPE` argument.  Let know what you think.

[2016-01-30 23:46] bewest commented on #62
Specifically, for more context, `ns-get` and `ns-upload` are complementary, they do the inverse thing for any data type, so shouldn't force arguments on all possible uses.

It would make a lot of sense to create a separate tool called `ns-upload-oref0-treatments` (more purpose built) that handles these settings automatically.

[2016-01-31 18:56] PieterGit commented on #62
Does oref0 universally uses mg/dL for data? This would helps ensure user safety by ensuring we never mix up mg/dL and mmol/L.

I noted that @oskarpearson in this commit for openaps:
https://github.com/openaps/openaps/commit/ca024cf010fc18728f0eb81652082eca10da9dc7
uses two fields:
- 'user-preferred-units': This reflects what the pump-owner prefers their unit of measurement to be.
- 'units': the un

[2016-02-01 10:47] scottleibrand commented on #58
Got this working!  Still need to find some glucose and pumphistory data for a period showing unambiguous sensitivity, and test it against more normal days, to make sure my detection thresholds are reasonable.

[2016-02-01 22:44] scottleibrand commented on #58
Here's another summary of how this works (from Gitter): each BG data point for the last 24h, you can see that the 15m avgdelta is and compare that to BGI (how much BG should be dropping from insulin alone) to get an array of deviations. When sensitivity is normal and basals are well tuned, somewhere between 30% and 50% of the deviations should be negative, and the other 50 to 70% should be positiv

[2016-02-02 22:32] timomer commented on #58
I have been very interested in analyzing my past Temp Basal adjustments to discover where my expected ISF is not correct. We all guess our ISF, with this much data the system should be able to see trends over time and make suggestions when ISF should be adjusted for a given time period. Scott you appear to be adjusting based on temp changes in ISF - do you think this would also work in analysing t

[2016-02-02 22:39] timomer commented on #59
I have been noticing this with HAPP too, but the impact is higher due to it being a Open Loop system and Temp Basal is suggested every 15mins (in my setup). If, it is not too difficult to get a calibration event from the CGM and we see a high deviation in BG, snooze the loop until we have 2 more readings since calibration.
I agree the risks are very low, even with a High Temp of 15mins. But I stil

[2016-02-02 22:53] scottleibrand commented on #58
Was just discussing that idea with @danamlewis, triggered by @dm61's comments in Gitter.  This new feature quite easily detects "your basals are too high and/or your ISF is too low" or "your basals are too low and/or your ISF is too high", but actually differentiating between the effect of basal and ISF is a bit more difficult to do with a simple algorithm like this.  For people who are already lo

[2016-02-02 22:57] scottleibrand commented on #59
How are you pulling data from the CGM?  Do you have calibration events accessible?  We are mostly using Nightscout for BG data from Share, so we can't get calibration records except when we have the CGM plugged in (and aren't retrieving them currently).  As such, this probably won't be a development priority for me, but if someone wants to work on it, I'd be happy to help as needed.

[2016-02-03 04:14] dm61 commented on #58
I've looked at my OpenAPS overnight actions, with exactly the same idea you mentioned - one should be able to see if OpenAPS is consistently delivering above or below the configured basal (happy to have OpenAPS confirmed that my basal profile seems to be ok).  The system should be able to just do this automatically and provide suggestions for basal rate adjustments. Even starting with just overnig

[2016-02-04 08:37] timomer commented on #58
Ok, this is all very exciting and agree that overnight while fasting is a great place to start.

Unfortunately I am limited with time to assist in this, but I may know a pool of developers who would be up for a challenge... Ill ask.

[2016-02-04 08:55] timomer commented on #59
Agree this should not be a priority, as OpenAPS works on a 5min cycle you could argue this is a HAPP enhancement.

I am getting CGM from xDrip, xDrip does capture this info so if its not already in the Broadcast it would be simple to add.

[2016-02-04 14:34] scottleibrand commented on #58
Had a great conversation last night at the Seattle OpenAPS meetup with Sholeh (PhD data scientist type) and @amazaheri about extending this algorithm, and leveraging Azure machine learning stuff, to tune basals and solve for ISF etc. Sounds like Sholeh will be able to help out with a lot of the historical analysis type stuff that would be easier to do using Nightscout data than live in OpenAPS.

[2016-02-04 15:02] timomer commented on #58
Completely agree, NS would be an ideal location for this. Would be great if we keep this ticket updated with progress or create a dedicated gitter room for analysing historical data

[2016-02-04 19:49] amazaheri commented on #58
looking forward to it ... great catching up and exciting stuff to come for sure ...

[2016-02-05 07:03] SholehF commented on #58
@scottleibrand last night conversation was super helpful! Now I have much better understanding of how things work. I get your sensitivity detection logic into python to replicate your results and try out some simple models to start.

[2016-02-05 22:34] amazaheri commented on #58
:+1:

[2016-02-07 02:49] scottleibrand commented on #58
@SholehF: I created a #machine-learning channel on Slack: use http://bit.ly/1nTtccH to join.

[2016-02-08 23:38] oskarpearson opened #66 "Support for 'cleaned' medtronic history"
Hi

**Note: this bug could possibly lead to carb values being "doubled-up" in the meal-assist algorithm, leading to problems.***

There are apparently situations where openaps-mmhistorytools finds and removes duplicate carb values. (See below for details.)

Currently, if you supply the dev branch with a history that's been cleaned with openaps-mmhistorytools, the meal code doesn't correctly interp

[2016-02-10 23:29] scottleibrand commented on #58
Looks like using the last 12h of data instead of the last 24h is much more effective at picking up post-exercise sensitivity like @danamlewis saw last night.  Gonna let it run for awhile with that config and make sure we don't get false positives.

[2016-02-11 00:02] scottleibrand opened #68 "Advanced Meal Assist using COB estimated from post-meal deviations"
I'm not yet happy with Meal Assist: I think we need to switch to using an advanced meal assist algorithm that is aware of COB / carb absorption and can tell when to high-temp aggressively for carbs being absorbed, and when insulin activity is already high enough to risk going low, and we need to preemptively low-temp instead.

To accomplish this, we need to determine how many meal carbs have been

[2016-02-11 00:03] scottleibrand commented on #61
This is working, and is better than the version of meal assist in dev, but I think it will probably be obsoleted by https://github.com/openaps/oref0/issues/61

[2016-02-11 07:03] jasoncalabrese opened #70 "When there's missing glucose data high temps should be canceled"
Currently we return early from determine basal and let the high temp run to completion.

[2016-02-11 21:52] dm61 commented on #68
I have no doubts that meal assist could be improved by explicitly including awareness of carb absorption rate. What you are describing makes sense, except I am not sure about extrapolation of the impact of carb absorption using the current rate. We do know that carb absorption will start decreasing and will eventually drop to zero. The questions are when and how quickly. How about this: model carb

[2016-02-11 22:16] scottleibrand commented on #68
I am explicitly *not* making any assumptions about carb absorption ramping up over time.  Instead, I want to wait until carb absorption ramp up has been *observed*, and then assume that will ramp *down* over time.  That has a lot of safety benefits in the case where a meal is not fully consumed, where something (walking home, gastroparesis, or whatever) reduces carb absorption rate more than expec

[2016-02-11 22:21] scottleibrand commented on #68
It's also worth noting that we have used a model similar to what you described, but with a rectangular instead of triangular carb absorption curve (zero for 20m, then a constant 30g/hr until all carbs are absorbed) in DIYPS.  That system does recommend meal boluses for the carbs projected to absorb by the time any insulin bolus reaches peak activity.  That has worked quite well for @danamlewis, bu

[2016-02-12 16:23] dm61 commented on #68
Agreed, yes - safety should remain the top priority, although would be nice to leave some room for users to tweak parameters and adjust aggressiveness. For example, not sure about  "~half the remaining unabsorbed carbs." If carb absorption is exceeding insulin action, as evidenced by increasing bg, why not assume that the user was actually correct when entering carbs up front, and high temp based

[2016-02-12 18:08] scottleibrand commented on #68
Yeah, that would be a good thing to make configurable, with a reasonable safe default that would work for most people. Maybe combine both ideas with wtf-assist so that it only phases in the higher user configured value to the extent that BG is rising quickly.

[2016-02-12 18:44] dm61 commented on #68
Yup, that sounds good!

[2016-02-26 19:53] scottleibrand commented on #61
Looks like #68 will take some time to finish, so merging this to dev per https://github.com/openaps/oref0/pull/75

[2016-03-02 05:36] eyim opened #76 "Need boundaries on how much auto sens can adjust things"
Was testing out the auto sens part lately.  One edge case was that I was running it using my backup pump with real bg data but fake pump data - everything was really screwed up and it came out with some really crazy results like 10X the sensitivity or something like that.  Given that sometimes people switch out pumps and other things like that, maybe worthwhile to put some safeguards on the range

[2016-03-02 06:27] scottleibrand commented on #68
The code in the advanced-meal-assist branch is now successfully implementing a version of the algorithm described above.  Still needs more testing before we use it to actually set temps, but while running in parallel during dinner today it seems to be making sensible recommendations.

[2016-03-02 20:17] scottleibrand opened #77 "Auto-sensitivity using incorrect calculation for BGI"

[2016-03-02 20:22] scottleibrand commented on #77
BGI calculation used for detecting sensitivity was incorrectly calculating BGI in mg/dL per minute, and comparing that to deltas in mg/dL per 5 minutes.  Fixing that makes the sensitivity and resistance detection much more sensitive, so I've changed the percentile thresholds for normal sensitivity ranges back to their much wider ranges more consistent with the original design in #58.  Will need to

[2016-03-04 00:13] eyim opened #78 "short-circuit pathway to set a zero-temp basal"
Given the frequency of communication errors, there are many times when a full loop cannot be completed but there is still some communication happening between openaps and the pump.  There are times therefore that it would be nice to have a simple command that can issue a temp basal to 0.

The scenario may be that the PWD is at school and the parent notices that bg is falling quickly.  The parent s

[2016-03-04 00:41] scottleibrand commented on #78
I am actually thinking this should be fully automated. If preflight succeeds and we see BG is falling rapidly, we could set a zero temp first, and then attempt to do the normal loop (and replace it with whatever is appropriate).

[2016-03-04 00:42] eyim commented on #78
Even better

[2016-03-04 00:46] JaysonEwer commented on #78
Very cool.  I like that idea as well.

Sent from my iPhone

[2016-03-06 00:15] scottleibrand commented on #77
It looks like the fixed version works well when provided a 24h glucose and pump history to work from.

[2016-03-06 02:05] scottleibrand opened #79 "Calculate stacked COB correctly in advanced-meal-assist"
Don't blindly calculate from first or biggest carb treatment: properly figure out when COB drops to zero and start over after that.

[2016-03-06 02:07] scottleibrand opened #80 "Bolus snooze in advanced-meal-assist"
If BG is not yet rising from carbs (like in eating soon mode), don't reset snoozeBG.

[2016-03-06 02:37] scottleibrand opened #81 "wtf-assist in advanced-meal-assist"

[2016-03-06 04:48] scottleibrand opened #82 "Consider carbs from more than DIA hours ago in advanced-meal-assist"
Currently oref0-meal.js ignores any carbs more than DIA hours ago when calculating COB.  For really large meals that take more than DIA hours to absorb, would be good to consider older carbs as well.

[2016-03-06 06:01] scottleibrand commented on #82
Before we do this, we also need to figure out how to deal with carbs that were absorbed but didn't cause BG to rise, for example due to a long walk home from dinner, or due to overestimating meal carbs.

[2016-03-06 21:57] scottleibrand commented on #80
That should fix it.  Will reopen if not.

[2016-03-06 21:57] #80 closed

[2016-03-06 22:27] scottleibrand commented on #81
Currently wtf-assist is used both to ignore effect of IOB (to high-temp aggressively when BG is rising unexpectedly in spite of IOB), and to lower the min_bg and target.  It is way simpler and easier to understand, and should accomplish most of the same goals alongside advanced-meal-assist, if we instead just extrapolate positive deviations for 30m (like we do negative deviations) instead of 15m.

[2016-03-06 22:27] #81 closed

[2016-03-06 22:27] #77 closed

[2016-03-13 06:43] scottleibrand opened #83 "Figure out DST and timezone changes"
Currently oref0 requires that the Pi, pump, and CGM be set to the same timezone, and errors out `if (minAgo > 10 || minAgo < -5)`.  This causes problems when traveling and changing timezones, and every spring and fall when the Pi's clock automatically changes for DST.  I pushed a workaround (https://github.com/openaps/oref0/commit/89b609c3ce966519b94e9bae6a472dbddb55d767) that will help temporaril

[2016-03-13 08:02] eyim opened #84 "Hard Cutoff of basal below a certain level"
There should be a level that cuts of the basal no matter what below a certain level.  There has been discussion to set this somewhere between 55 and threshold

[2016-03-13 08:03] scottleibrand commented on #84
@eyim in Gitter: "In particular, where it affects us is if it has low temped him for a while maybe 2 hours and has significant negative iob then it will try to give him extra insulin to counteract that when in reality it doesn't need to. I had hoped the auto sensitivity stuff would help but I didn't find that"

[2016-03-13 08:06] scottleibrand commented on #84
See also discussion with @tazitoo starting at https://gitter.im/nightscout/intend-to-bolus?at=56e4dcaa89dd3cce1005f682

[2016-03-14 01:51] audiefile opened #85 "Timezone doesn't handle daylight savings time well"
All times and time zones were set correctly but pump history wasn't properly zoned so treatments were displayed in Nightscout as off by one hour (one hour into the future).

[2016-03-14 02:46] scottleibrand commented on #85
Looks like this is because initial device setup sets something like PST in the openaps.ini, which doesn't get updated automatically for DST, so you have to manually change it to PDT.  Need to make tz smarter about switching back and forth when appropriate, or using the system timezone at runtime instead of configure time.

[2016-03-14 02:48] audiefile commented on #85
+1

[2016-03-20 05:30] scottleibrand commented on #85
Just noticed this issue is in oref0.  It really should be in openaps/openaps instead.  We already have https://github.com/openaps/oref0/issues/83 open for oref0.

[2016-03-20 12:30] audiefile commented on #85
Oops! Just opened #86 in openaps so I'll close this one.

[2016-03-20 12:30] #85 closed

[2016-03-22 04:41] scottleibrand commented on #76
https://github.com/openaps/oref0/commit/3eca297ad4173bc5fe68439cfc669b52f5898e81 should fix this.  Please reopen if not.

[2016-03-23 06:07] scottleibrand commented on #84
This has been merged to dev.  Please test and reopen if you see any bugs.

[2016-03-23 06:07] #84 closed

[2016-03-23 06:08] scottleibrand commented on #82
Fixed in 137304be15496060d4b3a338295a8850253777c4

[2016-03-23 06:09] scottleibrand commented on #82
I don't think we actually need to explicitly deal with overestimated carbs: if BG isn't rising from them, they won't have any effect on the predictions or recommendations.

[2016-03-23 06:09] #82 closed

[2016-03-23 06:16] scottleibrand commented on #78
I just implemented this in my wait-loop alias by adding `openaps get-bg && openaps enact &&` between preflight and gather.  My preflight alias does `openaps report invoke monitor/temp_basal.json`, the gather alias does `rm monitor/*`, and the enact alias does `rm enact/suggested.json; openaps invoke enact/suggested.json`, so it should be safe to refresh the recommendation and enact it solely based

[2016-03-23 07:52] #58 closed

[2016-03-23 07:53] #61 closed

[2016-03-23 07:54] scottleibrand commented on #68
Have now been testing this in production for a few days, and it works as well or better than the old meal assist algorithm in all situations we've seen so far. Still want to fix some corner cases as outlined in other open issues, but I think this is ready for broader testing.

[2016-03-23 07:54] #68 closed

[2016-03-27 16:14] scottleibrand commented on #78
Quite happy with this since installing it. Will close the issue if no other input.

[2016-03-27 19:52] jaylagorio opened #88 "Need tool to format dexcom glucose for NS"
Submitted at the request of bewest. mm-format-* tools don't seem to have Dexcom counterparts.

[2016-03-28 03:02] scottleibrand commented on #76
Need to double check this is fixed in AMA as well, where I refactored a bunch of stuff.

[2016-03-28 17:10] MosiGitHub opened #91 "For using meal-assist it is essential to make sure that units is set to grams"
it is possible to change the setting between "exchange" and "grams" in the bolus wizard menue of the pump under Carb. Units. Exchange is used to express how many insulin units are necessary to be given for 1 BE (10 to 12 grams of carbohydrate). In our case it was 0.6 units for 10 grams  of carbs. If the option "grams" is selected the input is how many grams of carbs are necessary for 1 unit of ins

[2016-04-02 23:21] scottleibrand commented on #88
Tagging @bewest and @jasoncalabrese as possible contributors / consumers of this.

[2016-04-02 23:21] #78 closed

[2016-04-02 23:24] scottleibrand commented on #76
Applied to AMA as well.  Closing.

[2016-04-02 23:24] #76 closed

[2016-04-03 00:10] scottleibrand commented on #70
Still need to figure out how to do the same when BG data is too old.

[2016-04-03 00:40] scottleibrand commented on #91
$ openaps report invoke settings/profile.json && cat settings/profile.json
get-profile://text/shell/settings/profile.json
reporting settings/profile.json
{"max_iob":3,"type":"current","dia":3,"current_basal":1.15,"max_daily_basal":1.3,"max_basal":4,"min_bg":115,"max_bg":115,"sens":40,"carb_ratio":10}

[2016-04-03 00:47] scottleibrand commented on #91
@MosiGitHub Can you please test https://github.com/openaps/oref0/commit/970a5a9d46477558b6c6516215c41109f415acd2 and make sure it prevents use of Exchange units for you?

[2016-04-03 01:41] scottleibrand commented on #83
With the latest dexcom_reader and openaps, we can now do:
`openaps use cgm UpdateTime --to now`
`openaps use pump set_clock --to now`

So it might make sense to set up a cron job to do so regularly as long as NTP is working.  Then, any time the rig timezone is updated for DST or travel, the devices can be synchronized and we can guarantee that old timestamps really mean stale data.

Does anyone ha

[2016-04-03 01:55] scottleibrand commented on #83
https://gitter.im/nightscout/intend-to-bolus?at=57007597e4a8384a1bbe50dc
@itsn0tm3:
I agree with your idea, as long as NTP doesnt report as not synchronized, then it should in theory be a good timesource to go with. It would also make it simpler since you would only need to set the time in one place so less user error can happen. My only concern is making sure that NTP is actually synchronized bef

[2016-04-03 02:02] scottleibrand commented on #83
The meta-question is: do we want the rig to be the source of truth for time (when it has Internet and can synchronize with NTP)?

[2016-04-03 03:28] scottleibrand opened #95 "Erroneous negative IOB calculated when basal schedule rises >2x"
@iainct reports at https://github.com/openaps/openaps/issues/88#issuecomment-204859700 that oref0 erroneously calculated a negative IOB based on a basal_profile.json that increases from 0.2 U/hr to 1.4 U/hr over the course of 60 minutes:

[code]

As oref0 currently calculates IOB based on the assumption that the currently scheduled basal profile is "close enough" to use for the last DIA hours' wor

[2016-04-03 04:25] scottleibrand commented on #95
Coded up the 3x limit.  Can I get some feedback on whether to merge #96 to dev as a fix for this?

[2016-04-03 04:40] scottleibrand opened #97 "oref-determine-basal doesn't return after console.error("Could not determine last BG time")"
@johnmales noticed that he has "on several occasions run into the problem of the medtronic CGM data being stale - sometimes hours old - and oref0 going ahead and setting temp basals. Usually this circumstance happens with that decocare page loading bug and the downloaded cgm data getting “stuck” redownloading old data repeatedly." It looks like he's seeing the issue @ktomy is trying to fix in #54,

[2016-04-04 20:47] scottleibrand commented on #79
Fixed with https://github.com/openaps/oref0/commit/78b79d173166944f4fb36fcb0de8bcd7ca3444b1

[2016-04-04 20:47] #79 closed

[2016-04-05 20:12] MosiGitHub commented on #91
@scottleibrand thankyou for your fast solution. We are presently on vacation. I will try to check it next week

[2016-04-06 01:09] scottleibrand opened #98 "AMA-aware autosens algorithm"
Now that AMA carb absorption calculations are being done using the same data used to detect sensitivity, it should be fairly straightforward to improve the autosens algorithm to directly exclude deviations caused by carb absorption (when carb info is avilable), thereby allowing us to use a much narrower percentile range and detect excess sensitivity or resistance with much more precision.

[2016-04-06 02:22] scottleibrand opened #99 "Basal tuning and ratio estimation"
Per the discussion in #58 and many preceding and subsequent discussions in various fora, it would be very useful to implement an algorithm to provide suggestions for tuning a user's current basal schedule, insulin sensitivity factor (ISF), insulin to carb (IC) ratio, and duration of insulin action (DIA).

To do so, we could use the OpenAPS automatic sensitivity detection algorithm to calculate, fo

[2016-04-06 02:34] scottleibrand commented on #58
For anyone interested in the basal tuning and ratio estimation topic discussed in this issue, please see #99 and feel free to continue that discussion there.

[2016-04-06 04:13] scottleibrand commented on #83
Just updated bin/clockset.sh (will push when JetBlue wifi cooperates) to set the device clocks to the current rig time if NTP is synchronized, and tested it by changing the rig from EDT to CDT and running it.  It worked correctly, with the caveat that it looks like it may be miscalculating IOB somewhat as a result.  I suspect the only way to fix that would be to make oref0 aware of the meaning of

[2016-04-06 06:05] loudnate commented on #95
You may want to consider using mmhistorytools to normalize temp basals (and suspends) against a basal schedule. It makes no estimations or assumptions about rates staying similar.

[2016-04-06 16:38] scottleibrand commented on #83
Need to update clockset to only set devices clocks if they're off, so we can add it to a loop if determine-basal fails (due to clock mismatch).

[2016-04-10 15:15] scottleibrand commented on #98
It just occurred to me that we might be able to accomplish the same thing, without having to have carb info available, by excluding from the autosens calculation any deviations large enough to be likely caused by carb absorption, and then narrowing the percentile range.  For now I picked a deviation cutoff of 6 mg/dL per 5m, which quite accurately matches the deviations caused by carb absorption i

[2016-04-26 14:57] eyim opened #101 "Improvements on recovering from a low"
In order to recover from a low, many times OpenAPS will turn off his basal for a long time - 1 to 3 hours.  If during the night, this will result in a net negative iob  - sometimes a net negative 2+ units before his blood sugars start to rise.

The issue is just as he is getting back to a normal range, OpenAPS will give him insulin to offset the net negative iob which results in pushing him back d

[2016-04-26 15:43] scottleibrand commented on #101
Autosens is designed to help deal with this, so I'd like to examine what it was doing at the time. Do you have details from the log on what basal and ISF adjustments it was making at the time?

If it was successfully detecting excess sensitivity, but not reducing high-temps enough as a result, one thing we could do would be to figure out how to apply the higher ISF only to net positive IOB (and hi

[2016-04-26 15:48] eyim commented on #101
I don't have auto sens running.  When I tried it before, it didn't appear to be helpful and made some adjustments I was totally comfortable with but that was several versions ago.  I'll turn it on again and see how it goes.  Your suggestion on using a shorter timeframe might work better.

[2016-04-26 15:57] jasoncalabrese commented on #101
I saw patterns like this before, but it seems that the combination of new pump sites (mio-90 vs inset-30) and autosens have helped.  At the time I was thinking it was an insulin absorption issue, where dia would become longer.

[2016-04-26 16:03] scottleibrand commented on #101
I would start with 24h of glucose data and 24h+DIA of pump data. The algorithm will be most consistent when it has a full daily meal cycle at all times. If that is insufficiently responsive, we can try shorter samples of glucose data, but that will come at the expense of being less prone to detect sensitivity in the evening (when there are lots of positive post-meal deviations that aren't large en

[2016-04-27 02:36] danamlewis commented on #68
Making a note about the link for people to walk through setup: https://github.com/scottleibrand/openaps-sh/blob/advanced-meal-assist/setup.sh

[2016-05-01 04:30] eyim opened #104 "OpenAPS enacting temp basal with old bg data"
[glucose.json.txt](https://github.com/openaps/oref0/files/243955/glucose.json.txt)
Attached is my glucose.json file.  This file resulted in openaps running a temp basal even well after the 15 old threshold.  I've had old data from hours ago that openaps still thinks is current data.

Obviously, this is a major concern as if his last bg was high or low it could cause a serious problem

[2016-05-01 18:16] jasoncalabrese commented on #104
I think this is related to the old xdrip date string issue, I see `"dateString": "04/30/2016 20:56:43 PM"`, maybe we can detect that and fallback to using `date`.  Also you might want to process the file.  Need to figure out the exact json -e, but the idea would be to set `dateString = new Date(date).toISOString()`, but that might still need to be zoned.

[2016-05-01 19:41] eyim commented on #104
Thanks for looking into this Jason.  Not sure if it is worth fixing it in oref0 since it seems like an edge case although a particularly dangerous one.  I'll look into fixing it on my end.

[2016-05-01 19:56] jasoncalabrese commented on #104
I expect it to happen again, and since the correct data is there we should be able to make it work, but it might need to fixed in multiple places

[2016-05-04 18:32] danamlewis commented on #99
Redirecting/extending this idea: We can do this real-time (i.e. **dynamic tuning**) and not just as a one-off.

- Do the auto-sensitivity calculation, but also do a version of it on an hour by hour basis, so we can compare the same hour (i.e. 2-3am) across multiple days.
- Knowing per the original description @scottleibrand outlined above that we need to exclude periods of carb activity, this will

[2016-05-05 18:23] inform880 opened #108 "TI stick is called dead when looping, even after calling oref0-reset-usb"
It seems completely random when this happens, but I get it more frequently when rebooting or after turning my pi on after I shut it down, properly or improperly. It also happens randomly throughout the day. This is what it looks like after it goes dead, and then calling oref0-reset-usb:

[code]

As you can see it, it finds it just find! It's worth mentioning also, that I can physically see it doin

[2016-05-05 23:36] jasoncalabrese commented on #108
What does your preflight look like?  Maybe some old carelink stuff still in there?

[2016-05-06 14:35] inform880 commented on #108
My preflight command:
[code]

[2016-05-06 19:44] scottleibrand commented on #108
You'll want to take the mm-stick stuff out of preflight for a TI stick.  Should looks something like this: https://github.com/scottleibrand/openaps-sh/blob/mmeowlink/setup.sh#L149

To reset the USB stick if needed, I do: `* * * * * killall -g --older-than 10m openaps && sudo reboot` on an Edison.  You could also do `* * * * * killall -g --older-than 10m openaps && sudo oref0-reset-usb` on a Pi.

[2016-05-14 08:05] scottleibrand opened #113 "Minimum carb absorption for AMA"
When deviation is <= 0 after a meal, we should still assume carbs are absorbing (slowly), and that BG is failing to rise for some other reason. This will prevent COB from staying high indefinitely until the carbs fall off the back of the pumphistory. For starters, perhaps use a minimum carb impact of 3 mg/dL per 5m. This would only apply for historical carb absorption, not for calculating current

[2016-05-14 08:06] scottleibrand opened #114 "Dev to AMA upgrade path"
Need to make it possible to switch from dev to AMA branch without it breaking existing loops.

[2016-05-15 00:30] jasoncalabrese commented on #113
Think this will help with active days a lot

[2016-05-15 01:40] scottleibrand commented on #113
This is ready for testing.  Two line change.  ;-)

[2016-05-15 01:41] scottleibrand commented on #56
Need a volunteer to drive this, or we need to decide we're not going to do it.  Any of y'all interested?

[2016-05-15 01:43] scottleibrand commented on #62
Has this been resolved with any of @bewest's newer tools?

[2016-05-15 01:45] scottleibrand commented on #70
Do we also want to do this for old BG data, or is doing it for error states good enough?

[2016-05-15 01:46] scottleibrand commented on #88
This has been added: `openaps use cgm oref0_glucose`

[2016-05-15 01:46] #88 closed

[2016-05-15 01:46] scottleibrand commented on #91
@MosiGitHub are we good to close this?

[2016-05-15 01:48] bewest commented on #62
`get-profile` expects units.  I think the feedback might be condensed as: "units tool should support treatments type."

[2016-05-15 01:49] scottleibrand commented on #101
I think the solution to this is to use autosens.  Please reopen or open a new issue if you still see this after autosens is in place.

[2016-05-15 01:49] #101 closed

[2016-05-15 01:51] scottleibrand commented on #108
If those didn't do the trick, please reopen or ping us in gitter to troubleshoot further.

[2016-05-15 01:51] #108 closed

[2016-05-15 01:52] scottleibrand commented on #113
Looks like this is working: carbs are slowly decaying even with negative deviation.

[2016-05-15 02:32] scottleibrand commented on #62
Not sure I follow. Perhaps someone using mmol will need to do at least the first pass at this?

[2016-05-15 03:31] scottleibrand commented on #99
* Prep data:
 * Download historical treatments and glucose data from Nightscout.
 * Use `json` tool to merge all new pumphistory and glucose data to the end of the long-running historical treatments and glucose data files.

* Tune basals:
 * Divide each day’s data according to the user’s pre-preprogrammed (or previously auto-adjusted) basal schedules.
 * Select data points ~90m later where net IOB

[2016-05-15 19:55] jasoncalabrese commented on #113
Nice, I'll update to latest AMA today

[2016-05-16 10:53] MosiGitHub commented on #91
I was thinking more of a solution like this (see below). It is not yet tested, because I had lots to do in the last couple of weeks and I just wrote it in the last 5 minutes. But you are asking to close this subject therefor I wanted to make a suggestion how to let the loop run with "exchanges" instead of "grams". I will test it tonight, when my son is in bed and the other rig is running ... I exp

[2016-05-16 17:59] amazaheri commented on #114
I am waiting for our second Edison to arrive and can help with validating the upgrade process.

[2016-05-17 12:59] MosiGitHub commented on #91
as I made a PR that should work with the setting "exchanges" as well, we can close this issue from my point of view

[2016-05-17 12:59] #91 closed

[2016-05-17 23:13] johnmales opened #117 "determine-basal report not working if auto-sens.json report not available"
I have encountered an issue where inadequate blood glucose data to produce an auto-sens.json file is stopping determine-basal reporting from producing a report, and therefore stopping looping.

It would appear to be more logical to continue to have determine-basal produce a report if auto-sens.json is missing or has no data, rather than stopping the report from proceeding at all.

[2016-05-17 23:25] scottleibrand commented on #117
@bewest Can you fix this easily, or do we need to roll back your hard-failure changes so it doesn't break people's working loops?

[2016-05-18 23:31] Spazholio opened #118 "nightscout device broken when upgrading to AMA?"
After upgrading to the `advanced meal assist` branch, I've noticed that the `nightscout` device no longer functions as intended.  I tried to re-set it up using `autoconfigure-device-crud` but that didn't work.  Checking `nightscout -h` now only yields
[code]
rather than what I was seeing before.

[2016-05-19 00:22] scottleibrand commented on #118
Need to merge dev into AMA, or merge the branch @bewest used to write the new Nightscout tools.

[2016-05-20 21:41] bewest commented on #56
Ketones:

![image](https://cloud.githubusercontent.com/assets/394179/15442749/dcd90b46-1e97-11e6-9dc5-0c20711ec1fd.png)

Woke with heavy (70+) ketones. After this, I definitely think after some percentage of DIA has been covered, something different happens.  I usually hate on alarms, but I would be agreeable to working out some kind of alarm for this.  Maybe some notice for "ketones may be produc

[2016-05-20 21:50] amazaheri commented on #56
In our case since I get notifications from both openaps and nightscout via push for us if he is <= 70 we do carb correction. So alarm would work as long as it wakes u up or one of us call u.

[2016-05-20 21:52] amazaheri commented on #56
btw any api access to nightscout for various alerts? it would be good to add if not already there so u can plug in ur method of choice pushover, azure push or ...

[2016-05-20 22:28] bewest commented on #56
It could be that putting the feedback in BWP would have been enough.  The ketone thing was always lingering at the back of my mind, but I didn't realize quite what had happened until after.  (It's not displayed, bg meter 147 at 7:40pm, had four gummy bears at 6:30-ish).  The recalibration is shown ~9.

[2016-05-21 07:15] bewest commented on #118
Usually feature branches will keep up to date with dev/master by merging them in.  In this case there some conflicts relating to `mealAssist` I'm not sure how to deal with.

[code]

[2016-05-22 11:19] scottleibrand commented on #117
@johnmales can you test #120 (by checking out the fix-autosens-data-warning branch) and confirm this fixes your issue?

[2016-05-22 12:08] scottleibrand commented on #117
Per https://github.com/openaps/oref0/pull/120#issuecomment-220828541 this should now be fixed.

[2016-05-22 12:08] #117 closed

[2016-05-23 06:32] CrushingT1D commented on #56
Yes. I want a configurable max time it can zero temp.

[2016-05-23 07:13] sulkaharo commented on #56
Realized that it might be more useful to redefine this as "minimum required insulin flow / time period" rather than "prevent too much zero temping". AFAIK this is easier to calculate and would serve the same purpose, right?

[2016-05-23 10:22] scottleibrand commented on #56
Gonna need one of you to volunteer to code and test this, as we never see this situation.

[2016-05-25 21:01] Spazholio opened #122 "oref0-meal fails when order of arguments is wrong and/or carbhistory.json is empty"
After upgrading the `advanced-meal-assist` branch to the latest and greatest, my `monitor/meal.json` is failing.  The line in my `meal.ini` file was `fields = pumphistory profile clock carbhistory glucose basal_profile` and that worked previously.  My `settings/carbhistory.json` file is empty because reasons.  Running the command manually, but with my previous order like so: `oref0-meal monitor/pu

[2016-05-27 13:35] scottleibrand commented on #122
https://github.com/openaps/oref0/commit/f217c66685b1c8b66cff87af337e1ef65e2b1996 fixes this for me.  Can you confirm, or have you already adjusted your config?

[2016-05-28 07:17] scottleibrand commented on #122
Closing.  Please reopen if this doesn't fix.

[2016-05-28 07:17] #122 closed

[2016-05-28 14:31] live4sw opened #124 "oref0 thinks Meal Assist is enabled despite there being no meal.json report"
Received this message when running loop:
`get-profile://text/shell/settings/profile.json Could not parse carbratio_data. Feature Meal Assist enabled but cannot find required carb_ratios.` I don't have a meal.json report, since I haven't done any Meal Assist setup yet.

Removing `remainder = []` from my settings/profile.json and enact/suggested.json report configurations fixed this. Perhaps it was

[2016-05-29 21:25] bewest commented on #114
I rebased `advanced-meal-assist` onto dev over here: https://github.com/openaps/oref0/pull/119.
I tried using it, without the new features set up to see if it would issue the same results/behavior.  I had some trouble verifying if updating without "enabling" any new features would turn out the same behavior or if it should by design.  Looks like we might need to adjust how the features are turned

[2016-05-29 21:30] bewest commented on #118
Fixed by https://github.com/openaps/oref0/pull/125

[2016-05-29 21:30] #118 closed

[2016-05-31 00:48] Spazholio opened #127 "Non-sgv entries in monitor/glucose.json breaks settings/auto-sens.json report"
As of today, when the `settings/auto-sens.json` report encounters an entry in `monitor/glucose.json` that doesn't have a "sgv" entry in it, it dies.  Creating a new report that lives alongside `monitor/glucose.json` and pointing `settings/auto-sens.json` at that seems to resolve the issue.

[2016-06-02 00:13] jasoncalabrese opened #128 "Add check to oref0-meal to make sure there's enough glucose history to match carb history"
After watching COB stay way to high for a long time I finally found the issue was caused by using my short glucose.json with 10 entries instead of the 24h glucose.  The result was that carbs older than 50 minutes were never getting decayed.

[2016-06-03 14:54] scottleibrand commented on #128
Looks like that fixed it.  Can you please test to confirm?

[2016-06-04 07:01] jasoncalabrese commented on #128
Looks good.

I saw both the "Could not parse input data" and "Optional feature meal assist disabled: not enough glucose data to calculate carb absorption" while upgrading one of my rigs.

[2016-06-04 07:01] #128 closed

[2016-06-04 22:54] bewest opened #129 "iob should consider suspend/resume/square-waves"
IOB is impacted by square waves, and suspend/resumes.  It'd be nice to have them considered.

[2016-06-06 22:46] scottleibrand commented on #127
@dpiessens reported what looks like the same issue, with the following error:
`avgDelta = avgDelta.toFixed(2); ^ TypeError: Object NaN has no method 'toFixed' at detectSensitivityandCarbAbsorption (/home/edison/src/oref0/lib/determine-basal/cob-autosens.js:50:29) at Object.<anonymous> (/home/edison/src/oref0/bin/oref0-detect-sensitivity.js:73:5) at Module._compile (module.js:456:26) at Object.Modu

[2016-06-07 01:25] bewest commented on #127
Ah, need to use something like this: `openaps use ns shell get entries/sgv.json count=288`.
This selects only sgv entries from Nightscout.  There are a few other ways, but this works well and is easy to type.

[2016-06-08 20:27] scottleibrand commented on #113
Working well so far.

[2016-06-08 20:57] jasoncalabrese commented on #113
Working good for us also, estimate looking much better

I still see COB higher that actual carbs right after meal, maybe we limit that?

[2016-06-08 21:00] scottleibrand commented on #113
Can you paste/link an example of what you're seeing there?

[2016-06-08 22:28] jasoncalabrese commented on #113
18g snack and right after COB was 28.65
[code]

after some more reports...

[code]

[2016-06-13 03:54] mddub opened #130 "Bolus via wizard not appearing in Nightscout"
Here are the commits from two `iter_pump_hours 4` reports, one loop apart. The first commit adds a bolus wizard entry to history, the second adds the bolus itself to history (presumably the record was created after delivery finished?). Because the bolus has the same timestamp as the already-uploaded bolus wizard entry, it is excluded by `nightscout cull-latest-openaps-treatments`:

First commit: h

[2016-06-13 04:43] jasoncalabrese commented on #130
I've seen things like this when the history is read and uploaded before the bolus finishes.  The trick for fixing that is checking the `bolusing` status.

The hack I'm using for that is here: https://github.com/jasoncalabrese/indy-e1b/blob/master/openaps.ini#L3

[2016-06-14 01:30] bewest commented on #130
Sounds like the read history commands (and possibly others?) should check the bolusing (optionally taking a `pump-status.json`?) and... maybe wait a bit before continuing?

[2016-06-14 01:35] jasoncalabrese commented on #130
Not sure of it should wait or fail, but does make sense to have a read
history use that takes a status.
On Jun 13, 2016 9:30 PM, "Ben West" <notifications@github.com> wrote:

[2016-06-14 20:39] scottleibrand commented on #113
Closing this issue.  Please open a new one for any remaining issues.

[2016-06-15 20:47] scottleibrand opened #132 "Use reservoir data as alternative to pumphistory"
@loudnate's Loop app for iOS does an excellent job of calculating IOB and looping using only the pump reservoir information (refreshed every 5 minutes), without ever having to pull a full pumphistory.  While there are lots of things (like NS uploads) we still want pumphistory for, it would be good to be able to use reservoir data as an alternative when we're having trouble refreshing pumphistory (

[2016-06-16 00:35] loudnate commented on #132
While prototyping Loop last year, I added this feature to mmhistorytools.

The idea is you take reservoir data and you convert it to pseudo temp-basal records, then you normalize those against the basal profile, and the output is suitable for IOB calculation.

https://github.com/loudnate/openaps-mmhistorytools/blob/master/openapscontrib/mmhistorytools/historytools.py#L694

https://github.com/loudn

[2016-06-16 00:42] scottleibrand commented on #132
Nice. Yet another reason we really need to get oref0 using mmhistorytools.

[2016-06-16 02:14] mddub commented on #130
Thanks @jasoncalabrese, I like your `bolusing` workaround. Sounds like the right way to fix this is a change to history commands in `openaps`/`decocare`, so I'll close this.

[2016-06-16 02:14] #130 closed

[2016-06-19 05:12] daveewall opened #134 "Duplicate detection causes COB to be lost"
In /lib/meal/history.js, the following loop causes COB to disappear because the BolusWizard and the Bolus entry are in the pumphistory.js at exactly the same time, and it kills the BolusWizard entry, assuming it's a duplicate, but that's where the COB comes from:

            for (var j=0; j < mealInputs.length; j++) {
              var element = mealInputs[j];
              if (element.timestamp

[2016-06-19 14:18] sulkaharo commented on #134
I have a fix, testing.

[2016-06-19 14:51] sulkaharo commented on #134
https://github.com/openaps/oref0/pull/135 should fix this. Which pump do you have? Ours seems to log a different timestamp for the bolus and the wizard event...

[2016-06-19 15:31] daveewall commented on #134
I'm using a Medtronic 523.  Let me know if you need any sample files.

[2016-06-19 17:40] sulkaharo commented on #134
Wanna pull the branch to your device? Alternatively - yes sample files would be cool.

[2016-06-19 19:47] daveewall commented on #134
[aps.tar.gz](https://github.com/openaps/oref0/files/322481/aps.tar.gz)

Try this on for size.  It's my aps directory, sans .git.  The monitor/pumphistory-zoned.json has a BolusWizard and a Bolus object with timestamp 2016-06-19T12:59:36-04:00.

Sorry, don't have time to test it right now... figured this is quicker.

[2016-06-19 21:54] sulkaharo commented on #134
https://github.com/openaps/oref0/pull/136 now has an unit test based on your sample data and better algorithm

[2016-06-20 06:10] sulkaharo commented on #134
The PR was merged; can you update to latest AMA and check if the fix works for you? :)

[2016-06-20 07:21] daveewall commented on #134
I just updated the system, and the code ran through fine, but since I don't have any COB, it's coming up zeroes.  I'll try to follow up later today.  If I forget, you can assume it worked.  :-)  If it doesn't, I'll make sure to follow up with more details for you.

Thanks for the fix, Sulka!

[2016-06-21 08:32] sulkaharo commented on #134
Awesome! Wanna close the ticket? ;)

[2016-06-21 12:29] daveewall commented on #134
Works well now, thanks!

[2016-06-21 12:29] #134 closed

[2016-06-24 03:40] iainct opened #142 "git-reset additional test required"
adding `git diff > /dev/null || ( mv .git /tmp/.git-`date +%s`; openaps init . )` that I have tested  fixed a git corruption that the standard test did not detect.

https://github.com/iainct/oref0/blob/dev/bin/oref0-reset-git.sh#L40

original issue show here:
`
pi@raspberrypi:~/slicaps $ git diff
error: object file .git/objects/64/637af367202e8101856fb78ad32f7ed41691d6 is empty
fatal: unable to re

[2016-06-27 02:15] #142 closed

[2016-06-28 22:58] Spazholio commented on #56
I'll throw my support behind this idea, as today something went very odd with my body, and I low-temped (with a small exception) for longer than my DIA.  I'm not nearly up to snuff on the code to write it though.

[2016-06-29 00:36] scottleibrand commented on #56
What was the outcome of the long low-temp? Was this overnight or daytime? What did BG and IOB look like during the low-temp period?

[2016-06-29 00:39] Spazholio commented on #56
Well, just a few hours later, I'm now up over 200 with a bullet, so...unsure.  It was daytime, from noon on to about 6:45pm.  Here's a pic from NS:

![image](https://cloud.githubusercontent.com/assets/18452263/16436947/6933bffe-3d70-11e6-90bc-f3d983466b1d.png)

[2016-06-29 00:53] bewest commented on #56
That looks like compression low with the slow carbs catching up.  OY, unpleasant.

[2016-06-29 00:55] Spazholio commented on #56
I don't think it's a compression low unless I'm misunderstanding what that means.  My sensor's on my stomach, and I haven't been lying down at all today or doing anything that could cause compression in that area.  But yeah, it's unpleasant - I'm definitely feeling the other side of the problem right now.  =)

[2016-06-29 01:09] scottleibrand commented on #56
Looks like the 5pm calibration may have been off. Did you do any carb corrections for the lows before the 7pm meal? Did you bolus at all for that? Wondering why it didn't high temp for the rise after the carbs...

[2016-06-29 01:40] Spazholio commented on #56
Right around 4:00 (I think), I ate a glucose tab.  I didn't notice the lows until that point.  At 6-ish, I ate 2 glucose tabs as well.  And 7pm wasn't a meal, I broke down and ate a Snickers because I was sick of the levels just not going up. And I just recalled - prior to that, I ate some meat and cheese.  Not to correct, but because I was a little hungry.  I suspect that's what delayed everythin

[2016-06-29 02:20] scottleibrand commented on #56
Seems like we're converging on a consensus that the right thing to do is to notify the user they may need to eat something, and then give insulin in response to that, rather than to give insulin, force a low, and force them to eat.  If so, is that something that belongs in oref0, or elsewhere?

[2016-07-05 15:51] scottleibrand opened #152 "Autosens adjusts BG targets too high"
Per @jasoncalabrese: With regular target of 115, autosens raises the target too high when detecting lots of sensitivity. Need to limit autosens target adjustments to 1.5x instead of 2x.

[2016-07-07 20:50] sulkaharo commented on #152
Highest I can find in our recent logs is around 30% increase, but capping at 50% sounds good. We have definitely have had >50% adjustments in the past and not sure if those helped; I suspect those were caused by bad cannula sites. Which reminds me - I did have this idea that we could factor cannula age into autosens, or at least detect if the ISF dramatically changes after a cannula change event a

[2016-07-07 22:08] #113 closed

[2016-07-07 22:50] jasoncalabrese commented on #152
I'm hoping to have time over the weekend to look into what happened more.

This is what I want to try to explain (mostly a note to myself), I should able to find the exact inputs in my repo:

At one point I saw it adjust 80 to 156

[code]

[2016-07-07 23:51] scottleibrand commented on #152
One thing to look at would be how many of those >>> were carb absorption vs. just BG rising for some other reason.

[2016-07-11 07:48] scottleibrand commented on #152
Fixed via #152.

[2016-07-11 07:48] #152 closed

[2016-07-11 07:52] scottleibrand opened #164 "Support tiny basals"
Currently determine-basal will allow a temp to continue running if it's within 0.1U/hr of the desired temp, or if insulinReq is within 0.1U.  Rather than using a hard-coded value, which is too small for basals >1U/hr and possibly too large for very small basal rates, it would be better to let the current temp run if it is within a certain percentage (perhaps 20%) of the desired temp/quantity.

@cj

[2016-07-11 20:54] cjo20 commented on #164
Sounds like something worth trying. Gut feeling says that 20% is a little high, but I'll think about that a bit more this evening.

[2016-07-11 21:04] scottleibrand commented on #164
We get this kind of thing all the time: https://www.dropbox.com/s/bc84762zti9yyj4/Screenshot%202016-07-11%2014.03.40.png?dl=0

I'd rather reduce the number of temp basal events NS has to deal with, by not changing the basal unless the current temp is far enough off that we aren't likely to want to reverse our decision in 5 minutes with the next BG data point.

[2016-07-11 23:42] cjo20 commented on #164
I'm wondering whether this change doesn't just mask another issue. I can think of two cases that could lead to this behavior:
1. determine-basal being weighted too heavily towards the delta over the last 5 minutes; if the sensor readings wobble slightly and the last 5 minutes are treated as very significant then small sensor errors will translate in to toggling between max basal rate and 0. I thin

[2016-07-12 00:21] cjo20 commented on #62
If it's just for finger prick readings, my current hack is to change `oref0/lib/pump.js`, changing
`current.glucose = current.amount;`
to something like
`current.glucose = Math.round(10 * (current.amount / 18)) / 10;`

Obviously that isn't a long-term solution, but it seems to work ok for now.

[2016-07-12 00:34] jasoncalabrese commented on #62
I think we can also include the units and NS should be able to use it

[2016-07-12 05:07] scottleibrand commented on #164
Making this a bit more generic for @moomoobloo's to track other incompatibilities with their use case of a 0.025U/hr basal (which currently prevents us from ever doing low glucose suspend unless we first high temp up to 0.125U/hr).

[2016-07-14 01:24] scottleibrand opened #166 "Incorrect "Setting temp basal of 1.15U/hr" in reason"
{"temp":"absolute","bg":122,"tick":"+6","eventualBG":142,"snoozeBG":127,"predBGs":{"IOB":[122,125,127,129,130,130,130,129,127,125,123,120,117,114,110,106,103,99,96,92,89,86,83,80,78,75,73,72,70,69,68,67,66,65,64],"aCOB":[122,132,141,150,158,166,172,179,185,190,195,199,204,207,211,214,217,220,222,225,227,229,231,234,236,238,241,243,246,248,250,253,255,257,259,261,263],"COB":[122,125,128,130,132,134

[2016-07-14 01:32] cjo20 commented on #166
[code]
Looks like a copy/paste error

[2016-07-14 02:04] scottleibrand commented on #166
No, the first argument to setTempBasal is what actually gets set, so it's rate, not currenttemp.

[2016-07-14 02:08] scottleibrand commented on #166
Fix pushed to dev.

[2016-07-14 02:08] #166 closed

[2016-07-17 17:35] cjo20 commented on #95
This just hit the top of my "stuff to look at" list. Using this issue to track discussion about the best way of integrating mmhistorytools.

[2016-07-17 17:57] scottleibrand opened #171 "Avoid low-temping right after carbs with AMA"
@jasoncalabrese reports that oref0 with AMA often zero-temps ~30m after a meal.

One potential improvement to the AMA algorithm to help with this would be to adjust the assumptions for future minimum carb absorption.  Currently, if observed carb impact (CI) is less than 3mg/dL/5m, and fewer than half of the meal carbs have absorbed, we assume that the remaining COB will absorb at 3mg/dL/5m.  It mi

[2016-07-17 23:21] jasoncalabrese commented on #171
As an example of what I'm trying to avoid

<img width="1336" alt="screenshot 2016-07-17 16 00 14" src="https://cloud.githubusercontent.com/assets/751143/16903709/5709ec9e-4c3a-11e6-8ce8-c0716ba9fda1.png">

[2016-07-17 23:24] jasoncalabrese commented on #171
I'm testing with the old slower bolus snooze to see if that prevents the post meal low temping

[2016-07-18 04:41] scottleibrand commented on #99
Figured out how to use `jq` to merge multiple time series json files together and append new data to long-running json file: https://github.com/scottleibrand/openaps-sh/commit/bc7db9f5ece77040646ab6d65fba0b31ce9056fa

[2016-07-18 06:31] eyim opened #172 "COB calculation problem"
Was without a sensor for 14 hours.  When it restarted and ran the AMA calculations, the COB seemed off.  Even thought the last meal was @8:16 EDT for 100 carbs.

How this is dangerous is that the system tried to high temp even with a falling BG because it assumed there were a lot of COB when in reality there wasn't.

Here is the example:

[code]

At 1:59 am the next day, it still said he had 43 CO

[2016-07-18 06:32] eyim commented on #172
Formatting on the above is a bit off.  You can see the AMA projections if you scroll to the right

[2016-07-18 16:10] scottleibrand commented on #172
You're correct that it's overestimating COB, because it didn't see the BG data that would allow it to calculate COB decay. But that isn't why it was high temping: that was due to the deviation of 268. Are you running the latest oref0 dev? We made some fixes to deviation calculation that should help there (it should cancel the high temp within 10m as it sees minDelta is negative).

We'll need to fi

[2016-07-19 14:47] eyim commented on #172
I'm not on the latest version.  I am still on the old AMA branch.  My son is away at a tournament right now but I'll update it once he gets back.  I don't want to change anything while he is away.

Thank you.

[2016-07-19 16:41] scottleibrand commented on #172
Sounds good. Let us see if you see the high-temping after a long gap again. If so we may need to also make the change @jasoncalabrese was suggesting to ignore any old data points when calculating avgdelta.

[2016-07-19 20:05] Spazholio opened #173 "Conditionals in reports?"
This isn't an issue, but more of a feature request.  I'd love it (and I hope others would too) if there was some way to determine certain things (ie: conditionals, a simple if/then/else) within the openaps reports themselves, rather than having to do some bash-level copying/comparing to accomplish certain things.  For example, I would like to have my rig set up to both use a connected CGM as well

[2016-07-22 22:06] scottleibrand commented on #164
Anything else I missed?

[2016-07-22 22:46] cjo20 commented on #164
Can't see anywhere with constant offsets after a quick glance through

[2016-07-22 22:56] jasoncalabrese opened #175 "Auto resume when suspended for too long"
A common way to more accurately track IOB when disconnected from the pump while swimming, showering, etc is to temp to 0 and then suspend to "lock in the temp"

One of the risks with doing this is you may forget to resume.  To lower that risk we could auto-resume the pump after 30mins or until any 0 temp expires.

Related to this is correctly calculating IOB when pump was suspended without needing

[2016-07-24 03:27] scottleibrand commented on #99
To download historical and glucose data from Nightscout:
[code]

[2016-07-24 06:43] scottleibrand opened #176 "Fix AMA oscillation"
When BG is projected to be just below the low end of the target range with COB, oref0 sets a zero temp, and then after pumphistory refresh sees that predictedBG is now within range and sets the current basal as temp. This continues ad nauseum until BG rises or falls enough that PredBGs are consistent no matter whether a temp is running or not.

Should adjust the low temp logic to only low temp sli

[2016-07-25 02:05] cjo20 commented on #176
A possible solution would be to change the logic so that it only changes the temp basal rate (or cancels it) if the current temp basal would result in the eventualBG being outside of the target range.

[2016-07-27 18:32] mariano42 opened #180 "Enable oref0 to handle existing date format"
In dev branch invoking enact/suggested.json returns an error due to missing date fields in the json.

Glitter Response from @scottleibrand

Example glucose.json payload:
[
{
"trend_arrow": "FLAT",
"system_time": "2016-07-27T07:12:57",
"display_time": "2016-07-27T07:18:51",
"glucose": 108
},
{
"trend_arrow": "FLAT",
"system_time": "2016-07-27T07:07:57",
"display_time": "2016-07-27T07:13:51",
"gluco

[2016-07-27 18:40] scottleibrand commented on #180
Do you have a glucose-zoned.json or similar?  It should have a timezone at the end of the display_time etc.

[2016-07-27 18:40] cjo20 commented on #180
https://github.com/openaps/oref0/pull/168 Might help?

[2016-07-27 19:28] mariano42 commented on #180
{
"trend_arrow":"FLAT",
"display_time":"2016-07-26T22:23:52-05:00",
"direction" : "Flat",
"system_time":"2016-07-26T05:17:57",
"sgv";120,
"dateString": 2016-07-26T22:23:52-05:00",
"device":"openaps://cgmdex",
"unfiltered": 173600,
"rssi" : 192,
"date" : 1469589832000.0,
"filtered": 181728,
"type" : "sgv",
"glucose" : 120
}

[2016-07-27 19:40] scottleibrand commented on #180
So that one does have a valid date field. Which input file are you passing to oref0?

[2016-07-27 21:16] scottleibrand commented on #180
@cjo20 Quite possibly.  Merged #168 to dev.  @mariano42 can you pull the latest dev branch of oref0 and try again?

[2016-07-29 15:27] jasoncalabrese commented on #99
This mongo map/reduce script from @sulkaharo might be a good way to handle the processing instead of trying to do it all locally on the edison https://gist.github.com/sulkaharo/18d4b06c1288a0b14da48e7a5cd46d87

[2016-08-05 04:05] jbwittmer commented on #172
I have repeatedly experienced this issue as well.  Unfortunately we often end up having him off pump and away from his CGM within an hour after a meal (usually for evening swim practice).  We have repeatedly seen an issue of inappropriate high COB when he is done with practice 2 hours later resulting in high-temping.  I'm using the #dev branch of oref0 with auto sensitivity and AMA

[2016-08-05 04:19] eyim commented on #172
Yes I updated to the latest dev and see it high temping at the wrong times as well.  My son usually misses a couple of hours a day of readings from when he is either exercising or just being forgetful.   To me, a configurable min carb absorption rate based on time would be helpful. I've actually been thinking of turning off AMA.

[2016-08-05 04:22] jbwittmer commented on #172
I've been thinking of creating an alternate openaps.ini which I can swap in and out that eliminates AMA that I can use in these instances then swap back.  For our purposes it's worked out OK because he usually has gatorade throughout practice which we don't treat for or enter into his pump or Nightscout and it hasn't ended up causing lows.  But it definitely could.

[2016-08-05 04:24] eyim commented on #172
Yes we have a lot of unaccounted for carbs in his system to keep him up as well.  Good idea on a separate openaps instance without AMA.

[2016-08-05 04:31] scottleibrand commented on #172
Any of you want to go fix lib/cob-autosens to handle gaps?

[2016-08-05 04:49] eyim commented on #172
Would love to but my coding skills aren't  anywhere good enough to do that.

[2016-08-05 14:49] jbwittmer commented on #172
I'm sorry, I just don't know how to code at all.  I've just been so pleased
just to have gotten my OpenAPS iteration up and running.  I'm sorry I can't
contribute in that way.

On Thu, Aug 4, 2016 at 11:31 PM, Scott Leibrand <notifications@github.com>
wrote:

[2016-08-06 09:42] scottleibrand opened #183 "Detect and alarm when reservoir is not emptying"
After initial prime, leaving the pump in the prime screen results in zero insulin delivery, despite the fact that temp basals are enacted. The only way to detect this is by the fact that the reservoir is not emptying. Need to add some sort of check for this that can generate an alarm when the pump does not have a temp to zero set but is not delivering insulin. (If desired, it could alarm different

[2016-08-08 00:42] thebookins commented on #95
Any reason why we can't use the iob report from the last loop run as a starting point for the iob calculation? Then we only need to assume that the current basal profile is "close enough" for the time since last run, not over the whole DIA.  Would also degrade nicely to current behaviour in the event of a break in looping. Sounds like mmhistorytools is the best solution going forward, but somethin

[2016-08-08 00:46] scottleibrand commented on #95
Yes, we made a design decision to avoid relying on oref0 keeping any state. In addition to simplifying things generally, that means that we can have multiple rigs running oref0, and if one of them comes into range, it only needs to pick up the latest pumphistory and current temp to get up to speed. After that, all the rigs perform the same deterministic calculations and come to the same conclusion

[2016-08-08 00:51] thebookins commented on #95
OK, that makes sense. Thanks. Back to using pump history for the full DIA then.

[2016-08-08 08:43] MilosKozak opened #185 "determine_basal is asking for low temp even if low temp is already running"
https://github.com/openaps/oref0/blob/dev/lib/determine-basal/determine-basal.js#L301

[2016-08-08 15:24] scottleibrand commented on #185
Yes, that is as designed. If BG is low and not rising fast enough, we extend the zero temp.

[2016-08-08 15:25] MilosKozak commented on #185
Hmm. It's not good for open loop mode. will think about it

[2016-08-08 15:28] scottleibrand commented on #185
I believe the setTempBasal function declines to set a new zero temp until the current one has less than 20m left to run. Are the open loop recommendations bypassing that?

[2016-08-08 15:32] MilosKozak commented on #185
i have to decide what to do on android. from my point of view it's wasteful. it needs another connection to pump and especialy for DanaR i'd cancel it and set again.  if low temp expires it's set again by next loop

[2016-08-08 15:34] scottleibrand commented on #185
The main reason for extending the zero temp is that you don't know if there will be a next loop, so it's safer to extend the zero temp to a full 30 minutes in case you loose connectivity (or BG data, or anything else).

[2016-08-08 15:34] MilosKozak commented on #185
and in open loop asking user to set low temp again while low temp is running is stupid

[2016-08-08 15:36] MilosKozak commented on #185
yeah understand the reason but not sure what to prefer

[2016-08-08 15:38] scottleibrand commented on #185
I suspect that making the decision whether to extend a function of remaining temp basal duration is a good approach here too. 20 minutes may be too long, but 5 minutes left is probably cutting it too close.

[2016-08-08 15:40] cjo20 commented on #185
In an open loop, it might be a bit of a pain to have to set more basal rates, but it gives you a better approximation of what oref0 will actually end up doing. Why is the extra pump connection a problem?

[2016-08-08 15:41] MilosKozak commented on #185
battery

[2016-08-08 15:43] cjo20 commented on #185
I don't know about other pumps, but the "Set basal to X" command doesn't involve a lot of communication in medtronic pumps, compared to (say) getting 28 hours of pump history. The pump RF has to be active for longer than the typical loop duration anyway to ensure that things don't cut off early anyway.

[2016-08-08 15:46] MilosKozak commented on #185
it's different with DanaR (BT 2.0). I keep every connection as short as possible (and # of connections) to save battery

[2016-08-10 06:18] bewest opened #187 "suspend should cancel bolus[wizard][carbs]"
![image](https://cloud.githubusercontent.com/assets/394179/17543696/497519aa-5e87-11e6-9abb-652579ecaa06.png)

I canceled a bolus (while offline) and redid it, and the carbs register twice.

![image](https://cloud.githubusercontent.com/assets/394179/17543721/8004a076-5e87-11e6-8c6b-34dd2adba1a5.png)

Some note taking... suspend affects bolus, and basal both.

[2016-08-15 03:13] maciorowski opened #193 "Error executing: openaps report invoke raw-cgm/glucose-raw.json"
pi@raspberrypi:~/ben $ openaps use pump model
"522"pi@raspberrypi:~/ben $ openaps device add cgm dexcom
added dexcom://cgm
pi@raspberrypi:~/ben $ openaps use cgm config --G5
{
  "model": "G5"
}pi@raspberrypi:~/ben $ openaps use cgm oref0_glucose  --no-raw --hours 2.0
[]pi@raspberrypi:~/ben $ openaps report add raw-cgm/glucose-raw.json JSON cgm oref0_glucose  --no-raw-hours 2.0
added cgm://JSON/ore

[2016-08-15 03:17] scottleibrand commented on #193
I think this belongs in https://github.com/openaps/openaps/issues rather than oref0.  This project is all JS; the openaps toolkit is Python.

[2016-08-15 03:19] scottleibrand commented on #193
Oh, you're trying to do raw with a G5.  You can't do that: the receiver doesn't have raw isig values.

[2016-08-16 01:31] maciorowski commented on #193
Thanks,  I appreciate your help,

Wes

From: Scott Leibrand [mailto:notifications@github.com]
Sent: Sunday, August 14, 2016 10:19 PM
To: openaps/oref0
Cc: maciorowski; Author
Subject: Re: [openaps/oref0] Error executing: openaps report invoke raw-cgm/glucose-raw.json (#193)

Oh, you're trying to do raw with a G5. You can't do that: the receiver doesn't have raw isig values.

—
You are receiving th

[2016-08-23 00:06] thebookins commented on #95
I've got a rig working with `pump-history-prepared.json` as the output of the mmhistorytools `prepare` command. Naturally I've had to modify `oref0/lib/iob` to accept the normalized pump history. Just wondering is it best to assume that some people will update oref0 but won't add the mmhistorytools device? Should the `iob` process include a switch for the type of history input, or is it OK to requ

[2016-08-23 00:46] scottleibrand commented on #95
Nice!  Good progress.

We'll need to figure out some way to ensure backwards compatibility.  If we want to deprecate the old data format, we can add a deprecation warning, but for now we'll have to be able to parse both formats.  Ideally we could autodetect which they're using, and act accordingly, but if that's not possible then we'll need to add a switch that defaults to the old behavior.

[2016-08-23 01:05] thebookins commented on #95
The old format uses `"_type"` while the new format uses `"type"` so we could use the existence of the `"_type"` key to switch to the old behaviour. Is that robust enough?

[2016-08-23 01:16] cjo20 commented on #95
Rather than adding something subtle like that, I'd add an extra field that makes it really obvious what is going on.

[2016-08-23 01:30] scottleibrand commented on #95
Do we have that option?  If adding a field would require modifying mmhistorytools, perhaps just keying off the name of the type field would be sufficient...

[2016-08-23 01:32] cjo20 commented on #95
Not tested, but something like this as part of an openAPS alias:
`cat mm_tools_output.json | json -E "this.mmTools = true" > mm_tools_output_marked.json`

[2016-08-23 01:44] thebookins commented on #95
That could work. There's another subtle issue - mmhistorytools doesn't have a field for percent type basal and oref0 doesn't include percent basals in iob. There is a human-readable description string, and we could look for a '%' character in this - but there's no guarantee that that description string won't change. Worth a PR to include a basal type field?

[2016-08-23 02:25] loudnate commented on #95
The `normalize` command (which is the last step in the `prepare` shortcut command) converts percent-based temp basals to absolute (U/hour) in all cases.

[2016-08-23 03:21] sulkaharo commented on #95
Whoa, only just noticed this; we have three >2x basal changes during the day in the current profile. @thebookins is the commit with the change public?

[2016-08-23 03:37] cjo20 commented on #95
Just to note that this is more of an issue with increasing basal doses (which will calculate negative IOB when it shouldn't) than decreasing basal doses (which will calculate positive IOB when it shouldn't).

[2016-08-23 03:38] sulkaharo commented on #95
Noted! Guess the changes is this one: https://github.com/openaps/oref0/compare/dev...thebookins:wip/basal-aware-iob ? The IOB test doesn't pass on the committed code.

[2016-08-23 04:03] sulkaharo commented on #95
Ah right, figured why the test wasn't working - our code now assumes the profile contains the default variables, so ```bolussnooze_dia_divisor: 2``` missing from the test caused the bolus snooze IOB to be miscalculated. We should change the tests to use the full profile object; the current method of passing in a profile that's missing variables that are actually passed in when the loop runs can ca

[2016-08-23 04:09] thebookins commented on #95
@sulkaharo yes that's the branch. I'll tidy up tonight and implement the `mmTools` switch. The tests also need to be rewritten: the `history` object in the iob tests will be different depending on the value of `mmTools`.

@loudnate thanks for the clarification. How would you suggest excluding percent basals in the iob calculation? What about something like an optional argument `--exclude-percent-b

[2016-08-23 09:57] cjo20 commented on #95
@thebookins I think the point of loudnate's comment was that mmhistorytools works out what the effective basal rate was in U/hr given the current basal rate and the percentage. This means that data leaving the tool all looks like it was generated on a U/hr basal rate.

[2016-08-23 10:16] thebookins commented on #95
@cjo20 That's fine, and we could certainly calculate iob using the normalized output, but I was thinking we should match the current behaviour, which is to ignore percent-based temp basals (presumably because if there is one in the history it's a genuine - albeit temporary - basal rate change, and not an action of oref0).

[2016-08-23 15:03] scottleibrand commented on #95
No; if that is the current behavior, it is entirely a side effect of not supporting percent basals at all. If you set the pump to percent basal mode, it totally disables OpenAPS, which will fail to set (absolute) temps until it is corrected.

I think we should calculate IOB based on the normalized output for simplicity.

[2016-08-23 22:30] sulkaharo commented on #95
https://github.com/openaps/oref0/compare/dev...sulkaharo:wip/accoutforbasalprofile now contains an alternate implementation that doesn't require mmhistorytools. (One less component to worry about.)

[2016-08-24 00:10] thebookins commented on #95
https://github.com/openaps/oref0/compare/dev...thebookins:wip/basal-aware-iob2 is an attempt at allowing for mmhistorytools prepared data, and also defaulting to the current behaviour. Currently planning to use an optional argument in oref0-calculate-iob.js to switch between the two data sources. I'll remove the percent basal check (thanks @scottleibrand and @cjo20 and also plan to add tests for s

[2016-08-24 01:01] cjo20 commented on #95
@sulkaharo One advantage of mmhistorytools is that it does additional cleaning up of the pump history (such as bolus wizard de-duplication)

[2016-08-24 01:05] scottleibrand commented on #95
mmhistorytools also adds synthetic temp basal to zero records during pump suspends, so IOB would still be accurate afterward even if you don't temp to zero manually.

[2016-08-24 11:22] sulkaharo commented on #95
I think the only argument for not using mmhistorytools is that it's yet another component to the system, which needs maintaining. It's also implemented in Python while rest of oref0 is in Javascript / shell, so this would (correct me if I'm wrong) be the first dependency that'd change it so oref0 is not self-contained in being able to read raw device data and then act on it. Would the module be ro

[2016-08-24 11:34] cjo20 commented on #95
I'm not sure the distinction between oref0 and not-oref0 is that important. Why would it be critical that someone should be able to pull/process device data without using anything at all other than the oref0 repo? We already have to pull code from several repos to get the system up and running (openaps, oref0, openaps-contrib, decocare), I don't see one more being an issue.

[2016-08-24 12:05] thebookins commented on #95
IMHO I like the modularity that mmhistorytools allows, and the output is generic so you could imagine an equivalent historytools implementation for other pumps and this makes oref0 more device agnostic. The iob process then becomes simpler as it's not mixing up history parsing and iob tracking. I'm a newbie to this discussion though and not sure about the Javascript / Python issue. Glad for the di

[2016-08-24 13:09] jasoncalabrese commented on #95
Also since we know that the current behaviour of oref0 isn't correct the best way to fix it for all users is to fix oref0.  Then when they update it will be more correct without having to reconfigure their loop.

If we go the mmhistorytools route it shouldn't be an option, we should rip out the current implementation and force everyone to switch to the new way, but thats really disruptive.

I hope

[2016-08-24 13:17] cjo20 commented on #95
Not implementing this change because the tool might be less well maintained going forward isn't a great idea. The nature of this change means it is predominantly an extra pass on the input data; it can be reimplemented at a later date in javascript if that is what someone wants to do. At that point, people can switch over to the oref0 implementation easily.

Not breaking backwards compatibility se

[2016-08-24 13:29] sulkaharo commented on #95
Regarding data formats going forward: Nightscout currently expects the data in a format that's based on a slightly cleaned up log of MedTronic -style events; anyone adopting mmhistorytools will also need to go on passing the old format logs around for Nightscout visualization. Ideal case would be we could get to a place where our data is as device independent as possible and visualization friendly

[2016-08-24 14:32] sulkaharo commented on #95
Hey mmhistorytools usage question: what's the right way to do time zone processing with the tools in the pipeline? I'm currently adding the time zone information to the logs, but looks like if I do this with the log processed with mmhistorytools, the IOB calculation fails (shows 0 IOB at all times).

[2016-08-24 22:08] thebookins commented on #95
@sulkaharo With https://github.com/openaps/oref0/compare/dev...thebookins:wip/basal-aware-iob2 I'm doing something like this:
1. Add a report to run the history tool over the raw pump data:
[code]
2. Change the report `monitor/pump-history.json` to take the output of step 1 as input (or create a new report using the tz device).
3. Add `remainder = --prepared` to the report `oref0-monitor/iob.json`

[2016-08-25 10:14] sulkaharo commented on #95
So hey plan for immediate future: I'll PR the change that fixes the negative basal issue and basal rate issues in, while we look at all the work needed to get the mmhistorytools version in (as that requires writing instructions on needed changes to the loop setup). My patch doesn't require any changes to config.

[2016-08-25 10:19] cjo20 commented on #95
Might be worth documenting that it requires `lodash` to be installed.

[2016-08-25 10:28] sulkaharo commented on #95
lodash is in the dependencies list in package.json; as far as I know there's no way to install oref0 without npm auto-installing the dependencies?

[2016-08-25 10:50] cjo20 commented on #95
I just pull the head of the code to my repo on my rig and it seems to pick up the updated code, without having to re-run npm install, hence not automatically pulling lodash.

[2016-08-25 11:22] sulkaharo commented on #95
Right, guess you've used npm link to install oref0? Using the recommended ```npm install -g .``` to install from source copies the code to /usr/lib/node_modules/oref0/ and ensures the dependencies are installed, as well as ensuring that pulling a new version will need to be installed before it's actually taken into use.

[2016-08-25 13:38] jasoncalabrese commented on #95
The easy way to get the global install and npm link setup is to use the little npm script I added a little while ago.

`npm run global-install`

You only need to do that when there are new dependencies or new oref0 tools.

[2016-08-26 22:19] thebookins commented on #95
Did a quick experiment to compare the mmhistorytools and oref0 solution to this issue using a 12-hour pump history (see pic below). The basal iob is not the same for the two methods if some of the temp basal periods cross basal profile boundaries. Ideally in this situation we should split the temp basal into two (or more) normalized basals. (I think mmhistorytools does something like this.) It mig

[2016-08-26 22:52] scottleibrand commented on #95
Nice analysis @thebookins.  I agree that would be ideal, and that's one of the reasons I'd like to support mmhistorytools.  But as your data shows, the IOB calculations are pretty darn close between the red and green, so I'm happy to :shipit: as-is and allow people to use mmhistorytools if they want the more precise IOB.

[2016-08-26 23:01] thebookins commented on #95
Good plan @scottleibrand. I'm happy to have a go at writing the instructions to include mmhistorytools in the config if that would be useful. Any immediate plans to import mmhistorytools into the main repo?

[2016-08-26 23:09] scottleibrand commented on #95
Happy to merge mmhistorytools support if it's done using additional config and fully backwards compatible with existing setups and @sulkaharo's fix.

[2016-08-27 01:30] bewest commented on #95
It is backwards compat... it'd be simpler to use mmhistorytools all the time.  The recipes/templates all work, and it's installable via pip so it all works the same way.

[2016-08-27 01:32] bewest commented on #95
Here's some example output using mmhistorytools and other stuff in tandem with getting it into NS: https://github.com/bewest/openaps-example/blob/master/effects/cumulative-results.json

[2016-08-27 17:16] sulkaharo commented on #95
@thebookins that's an awesome analysis? Did you implement a tool to run that? Can you run the same against https://github.com/sulkaharo/oref0/tree/wip/split-temp-basals which implements splitting the temps the same manner as mmhistorytool, so the IOB should align much closer

[2016-08-28 10:55] thebookins commented on #95
Hey @sulkaharo, no problem. I ran the analysis again, this time against your branch `wip/split-temp-basals` (the red 'oref0' line in the graph). Looks different but still not the same as mmhistorytools, unless I did something wrong.
![plot](https://cloud.githubusercontent.com/assets/12263040/18033245/ab15222a-6d61-11e6-8eee-e49a9ef756d3.png)

[2016-08-28 11:00] cjo20 commented on #95
Any chance you could share the method for generating those images? It'd probably be a useful tool to have for future development.

[2016-08-28 11:33] thebookins commented on #95
@cjo20, @sulkaharo I've added my scripts for generating the above analyses at https://github.com/openaps/oref0/compare/dev...thebookins:wip/experiments. It's not an automatic tool yet, just a node and a python script that require some manual changes to generate the graphs. Note that to run against the mmistorytools method in https://github.com/openaps/oref0/compare/dev...thebookins:wip/basal-aware

[2016-08-28 14:41] sulkaharo commented on #95
Found a bug with the help of the new test data; rewrote the splitter logic and pushed.

When I run the plotter, it processes data for some time and then spits out:

[code]
Any idea what might be going on? Wonder if this is a locale difference in how the experiment.js output works?

[2016-08-28 16:07] scottleibrand commented on #185
Closing.  Please reopen or open a new issue if there's anything that needs to be done here.

[2016-08-28 16:07] #185 closed

[2016-08-28 16:43] scottleibrand commented on #176
Just pushed a branch that attempts to address this.  Have been running it offline for a few days, and am now pushing it to a couple rigs for testing.  Fixed the one existing unit test affected, and added one more, but not sure how to properly test AMA stuff without bringing in full real-world scenarios.  The oscillation is fairly rare, so planning to just wait for the situation to occur and make s

[2016-08-29 00:03] thebookins commented on #95
Sounds like it's a timezone issue for sure. Your error message says 'time data 11:00:00 does not match...' I expect the tool to cover 18:00:00 to 06:00:00. I'm at +10, you're at +3 hence the 7 hour difference between 18:00:00 and 11:00:00. I did wonder if that would be a problem :smile:. I will have a look tonight and see if I can figure it out.

[2016-08-29 10:45] thebookins commented on #95
@sulkaharo I have made a minor change to the python script to hard code the starting time (it's an arbitrary time scale anyway). I think the `toLocaleTimeString()` function is behaving differently (12-hour vs 24-hour time). Probably simplest to just ignore the timestamp for the moment.

[2016-08-29 14:05] sulkaharo commented on #95
@thebookins can you also commit the mmhistorytools branch json output? I still have issues getting the branch going but would love to compare the outputs

[2016-08-30 00:07] thebookins commented on #95
@sulkaharo I have committed the three output files (original, mmhistorytools, oref0). The `plot.py` script should work against this output now.

[2016-09-03 22:08] thebookins commented on #95
Hi All,
I'm trying to understand the properties of the IOB object `netbasalinsulin` and `hightempinsulin`. They don't appear to be used in any downstream code (e.g. `determine-basal`). I also don't get why you'd want to keep track of undecayed basal insulin for the last DIA hours. Is this just legacy code? OK to remove in the mmhistorytools branch?

[2016-09-04 07:07] scottleibrand commented on #95
Yes, that is legacy from the old way of doing meal assist. Advanced meal assist doesn't use them any longer. I was going to remove them after we release AMA to master, but you're welcome to do so in any branch that isn't going to be released soon.

[2016-09-04 07:52] sulkaharo commented on #95
@thebookins awesome, the plot now aligns correctly and as expected, split-temp-basals pretty much matches the mmhistorytools output. Looks to me like there's a 0.05 unit difference in the early plot (split branch adding one extra microbolus for some reason) and the latter curve matches exactly.

![plot](https://cloud.githubusercontent.com/assets/1001330/18229771/7bb9ca36-728d-11e6-96c8-af1abaaed1a

[2016-09-05 05:14] thebookins commented on #95
@sulkaharo great work! Nice to have this issue fixed. I'm still working on the alternate setup using mmhistorytools - I'll make sure it merges with yours and then put it out there for feedback. We use square boluses a bit and it would be nice to have them considered too.

[2016-09-05 05:18] sulkaharo commented on #95
The branch is now merged as #202, so just merge with dev. We're still missing support for pump suspends, so that needs adding.

Re: square waves - we used those before looping but the loop should remove the need to use and the square prevents the loop from working when the square is taking effect. Can you describe how you're using them, so we can take those use cases better into account. :)

[2016-09-05 05:33] thebookins commented on #95
Cool, I'll merge with dev then.

Re square waves: we've only been looping overnight for a few months now and don't have a mobile rig yet, so the loop isn't running at dinner, when our son tends to need a dual wave delivery to avoid going low later (we have played with basal rates but the dual tends to work best).

The square wave appears in the pump history shortly after starting it, with the `amo

[2016-09-11 12:08] scottleibrand commented on #176
This is (mostly) fixed in https://github.com/openaps/oref0/pull/200 now.

[2016-09-11 12:09] scottleibrand commented on #171
@jasoncalabrese do you think this is resolved now with the slower bolus snooze etc.?

[2016-09-11 12:09] #164 closed

[2016-09-11 12:09] #193 closed

[2016-09-11 12:11] scottleibrand commented on #180
Closing this.  Please reopen if #168 didn't fix it.

[2016-09-11 12:11] #180 closed

[2016-09-11 12:12] scottleibrand commented on #173
@Spazholio want to checkout out @sulkaharo's new oref0-crun tool in https://github.com/openaps/oref0/pull/205 and see if that does what you want?  If not, please reopen.

[2016-09-11 12:12] #173 closed

[2016-09-11 12:14] scottleibrand commented on #127
Is this workaround sufficient, or do we need to update the oref0 code to handle a data source other than entries/sgv.json ?

[2016-09-11 12:15] scottleibrand commented on #124
Is this still an issue with AMA in oref0 dev?  If so, please reopen.

[2016-09-11 12:15] #124 closed

[2016-09-11 12:16] #114 closed

[2016-09-11 12:21] scottleibrand opened #206 "Multiple-receiver support for autosens"
Most of oref0 is now capable of handling BG data containing interspersed CGM data from two receivers (same sensor/transmitter or different).  However, autosens has not yet been updated, so it usually defaults back to ratio: 1 (doesn't detect any sensitivity or resistance) if dual-receiver CGM data is in use.  Would like to get the autosens algorithm updated to bucket data by 5-minute intervals and

[2016-09-11 12:49] #206 closed

[2016-09-11 12:52] scottleibrand commented on #206
I apparently completely forgot that I already did this.  ;-)

[2016-09-11 12:58] sulkaharo commented on #164
Note the latest IOB calculation improvements will probably help a lot with the small basal rates.

[2016-09-11 15:10] scottleibrand commented on #172
I just coded up a potential fix for this at https://github.com/openaps/oref0/commit/9b59c8bcd3c8710854be763aa1f178217ac7ece9

If anyone wants to test, you can check out the https://github.com/openaps/oref0/compare/autosens-interpolation branch

[2016-09-11 19:39] jasoncalabrese commented on #171
Yes, the slower bolus snooze was the solution for us

[2016-09-11 19:39] #171 closed

[2016-09-16 01:00] scottleibrand opened #210 "Validate carb ratios are reasonable"
x23 pumps allow 1.0 to 200 g/U
x15 pumps allow 3 to 150 g/U

In order to catch when openaps/decocare return impossible ratios per https://github.com/openaps/openaps/issues/111, and avoid AMA being way too aggressive as a result, we should probably limit the carb ratios oref0 accepts to the range used by the x15 (3 to 150).

[2016-09-18 09:39] PieterGit opened #215 "new oref0-setup branch does not work with mmol/L units (openaps get-settings fails silently and openaps monitor-pumps is broken)"
The new great oref0-setup scripts don't play nice with mmol/L units yet.

[code]

Looks quite good, but unfortuately:

[code]

The settings/bg_targets.json is in indeed in mmol/L units

[code]

Should the oref0-script add the necessary stuff like
[code]

and convert the bg_targets_raw to bg_targets.json?

[2016-09-18 09:45] PieterGit commented on #215
This causes monitor-pump to fail

[code]

[2016-09-18 10:11] PieterGit commented on #215
Seems related to /openaps/docs#142
See:  https://github.com/openaps/docs/pull/142/commits/1de8428350848d73cc51de601ce1969bdc80d498

I'm willing to help to fix this, but need some guidance about what's the best way (e.g. templates, oref0-setup.sh, etc)

[2016-09-18 12:46] PieterGit commented on #215
I did some debugging. I think the following commands should be added somewhere:

[code]

This makes it possible to create a profile.json

[code]

Can anybody (e.g @scottleibrand ) help me how this should be integrated with the oref0-setup.sh script?

[2016-09-18 22:26] scottleibrand commented on #215
Looks like you're on the right track.  To integrate them, we do a fresh run of the setup script, with minimal/dummy options, then do an export of the resulting config with `for type in vendor device report alias; do openaps $type show --json | json -g > $type.json; done` (or maybe with more specific show commands for something targeted like this) and then update the https://github.com/openaps/oref

[2016-09-18 23:46] scottleibrand commented on #215
Fixed in https://github.com/openaps/oref0/pull/216

Please test at your convenience.

[2016-09-19 20:28] PieterGit opened #218 "bootstrap problem with current oref0-setup.sh / problem with CGM-loop with Dexcom G4 by USB"
Before you can use `openaps ns-loop`  the following reports must be available:

[code]

with those reports available

[code]

[2016-09-19 20:35] PieterGit commented on #218
most of the reports above are probably created by `openaps pump-loop` but strange stuff happened.

I temporary disabled crontab stuff to see what went wrong. I think uploading cgm data (dex g4 connected to USB) to nightscout fails someway.  Investigating further...

[2016-09-19 21:20] PieterGit commented on #218
@scottleibrand : i think i found a partial solution to fix the uploading of dex cgm data to nightscout.
I changed the crontab to:

[code]

Can it be that `openaps get-bg` and `openaps monitor-cgm` can't run at the same time with a dexcom connected by usb?

[2016-09-19 21:37] PieterGit commented on #218
Rebooting the rig fixes the problem. It seems way to many openaps processes are running concurrently when it fails:

[code]

[2016-09-19 21:49] scottleibrand commented on #218
I'm a bit unclear on what you're trying to do here.  oref0-setup.sh doesn't (yet) upload CGM data to Nightscout.  Is that what you're trying to do?

[2016-09-19 21:52] PieterGit commented on #218
yes, I would like the Dexcom G4 USB CGM to be uploaded to Nightscout.

[2016-09-19 21:53] scottleibrand commented on #218
You can do that by modifying https://github.com/openaps/docs/wiki/CGM-Loop-with-openxshareble-scratchpad to not set up the openxshareble parts.

[2016-09-19 22:02] PieterGit commented on #218
well getting it to work with openxshareable is one of the next adventures.
I'll try tommorow or so.  Cgm-loop is currently stable for half an hour with a 4 minute interval.

[2016-09-29 17:39] scottleibrand commented on #175
Per https://gitter.im/nightscout/intend-to-bolus?at=57ed497a34a8d5681ccae705, one way we might be able to auto-resume more safely would be to wait until all running temps have expired, it's been 30m+ (configurable), *and* a high-temp is required.  This would avoid the (slight) possibility that we resume basal and then are unable to set a low-temp if needed, and would more generally avoid overridin

[2016-10-04 02:04] garykidd opened #237 "G5 support"
When selecting G5 in setup script, raw-cgm/raw-entries.json does not properly reflect --no-raw election.

[2016-10-06 05:17] scottleibrand commented on #237
@garykidd can you test the updated oref0-setup.sh in dev to make sure this fixes it for you?

[2016-10-06 19:22] sjolundjohn opened #242 "NS Uploads fail depending upon URL structure"
Issue: Inconsistent behaviour of Nightscout upload when you have a trailing '/' in the NS URL in cron or shell.

Suggestion: Automate script to remove '/' if it is added during setup.

IE:
EDIT: https://NSHOST.herokuapp.com/

to

https://NSHOST.herokuapp.com

Background:
I noted that if there is a trailing / in the NS URL (which is very common as it comes this way when you copy/paste from a browse

[2016-10-09 13:53] PieterGit commented on #215
i think these issues are all fixed right now

[2016-10-09 13:53] #215 closed

[2016-10-09 15:25] PieterGit commented on #62
i currently use the oref0-setup.sh script. I don't the this uses mm-format-ns-treatments (or am I wrong). What's the way forward with this issue?

[2016-10-09 16:11] PieterGit opened #243 "feature: cgm-loop.py, integrated with oref0-setup.sh"
I'm working on a cgm-loop python script for a Dexcom G4 connect by USB.

Features I'm thinking of:
- can be started at boot, and runs as a loop for getting the cgm/egv values from the dexcom by usb
- efficient getting the records from the dexcom (caching previous records and merging them in python)
- resource efficient, would like to be able to run this on a pi zero
- perhaps even adding timezones

[2016-10-09 16:14] PieterGit commented on #218
Turned out openxshareble does not work with european dexcom receiver (don't have Share). Closing this issue because it's not clear and it turned out not to be a bug, but cgm by usb is not a current feature. I'll try to implement it with: https://github.com/openaps/oref0/issues/243

[2016-10-09 16:14] #218 closed

[2016-10-10 07:11] PieterGit commented on #243
initial version available on https://github.com/PieterGit/oref0/commit/e0d250250f619d4fb67a26ff2c25dde54a9df3ba

implements 1,2 and 3 of the featurelist

[2016-10-13 02:45] ryanchen26 opened #245 "ISF set over 250 (or 255) causes loop to fail"
After setting the ISF for midnight to a value of 300 all the APS units in the house failed to loop. Here is what the pump-loop.log looks like when this happens:

`Starting` pump-loop at Wed Oct 12 19:23:15 PDT 2016:
Listening: .No comms detected
Old settings refreshed
glucose.json newer than temp_basal.json
Temp refreshed
{"carbs":0,"mealCOB":0,"reason":"carb_ratio undefined out of bounds"}
Option

[2016-10-23 23:44] tghoward opened #252 "oref0-setup skipped mmeowlink?"
I don't know bash enough to parse line 198
if openaps vendor add --path . mmeowlink.vendors.mmeowlink 2>&1 | grep "No module"; then

But I'm pretty sure it didn't install mmeowlink for me on a clean run of the script.  Probably want to keep our eyes on this.

[2016-10-23 23:55] scottleibrand commented on #252
Maybe try:
[code]
and paste your results?

[2016-10-24 00:02] tghoward commented on #252
Well ... I already installed it manually. So I'm not sure doing anything now would be relevant. But I'll check.

[2016-10-24 00:06] tghoward commented on #252
Yes, it sees it just fine now.
[code]

[2016-10-24 00:07] tghoward commented on #252
The only way to test would be with a fresh run of the script with nothing already installed.

[2016-10-24 00:12] scottleibrand commented on #252
So if you have openaps installed but mmeowlink not, it should report "No module", and then go ahead and try to install mmoewlink.  I believe I tested it on a fresh install and it worked, so not sure what state your install was in when you ran it the first time.  Generally with bash it is pretty easy to try basic commands, and then pipe the results of those commands as input to other commands, or u

[2016-10-24 11:27] tghoward commented on #252
Ok, thanks. I'll keep my eyes on it with the next install.

[2016-10-24 11:27] #252 closed

[2016-10-27 19:50] beached commented on #99
I used to have a program.  I am looking for source that would take medtronic csv's and generate this.  But this is an example of the binning of data into time periods where the influence is dominated by liver/basal insulin.  The units are delta mmol/L(so it's aggregate first derivative/rate of change during those time periods.  sorry about the scale)
![image](https://cloud.githubusercontent.com/as

[2016-10-27 19:56] beached commented on #99
One note I had observed is that to get enough data to build a day can be a challenge.  There are actions that can enhance this too, and a system that indicates what has been fulfilled in the last time period could help.  However, the following observation helped too.  Once one find the rough doses for basal, the changes are often global and not localized to that time period.  So that lets one use

[2016-10-28 08:50] moomoobloo commented on #245
This should be fixed in the latest decocare release:
https://github.com/openaps/decocare/issues/5

[2016-11-05 20:37] PieterGit opened #254 "Hanging issue with Checking oref0 installation (cat $(which oref0-dex-is-fresh))"
After starting `$~/src/oref0/bin/oref0-setup.sh `  I get a hanging terminal.

[code]

Current code:
[code]

it turns out I don't have `oref0-dex-fresh` installed, so `which oref0-dex-fresh` returns emtpy, and therfore ` cat $(which oref0-dex-is-fresh)` hangs indefintely.

[2016-11-05 20:59] PieterGit commented on #254
i found a workaround:
[code]

Note that I needed to add `sudo`  in order to fix permissions errors.

[2016-11-05 21:05] PieterGit commented on #254
wouldn't using a `oref0 version` or `oref --version` (showing the `package.json` version number) be a cleaner way of checking the oref0 version?

[2016-11-05 21:07] scottleibrand commented on #254
Yes. That would also require doing a new release of oref0, which we're probably due for now.

In the mean time, want to test https://github.com/openaps/oref0/pull/250 ?

[2016-11-05 21:11] PieterGit commented on #254
i can't test anymore, because i installed my workaround.

[2016-11-05 21:20] scottleibrand commented on #254
Yeah, that's why I haven't merged it yet. Got any suggestions for a check that would work?

[2016-11-26 21:07] scottleibrand opened #261 "Iterative autotuning of basals and ratios"
One possibly easier way to implement https://github.com/openaps/oref0/issues/99 in oref0 would be to take an incremental approach to iteratively adjusting basal schedules and ratios.

To keep track of required adjustments to the pump's programmed basal schedule, we could create a long-lived autotune.json file that contains an entry for each hour of the day for which we've identified an adjustment.

[2016-11-27 06:16] scottleibrand opened #262 "Automated "supermicrobolus" delivery of mealtime insulin"
For users with well-tuned ratios (possibly thanks to https://github.com/openaps/oref0/issues/261), we may be able to safely use microboluses to minimize post-prandial peaks without creating additional hypo risk, by accelerating delivery of Eating Soon and AMA mealtime insulin (super bolus style) while at the same time running a zero temp long enough to counteract any extra insulin delivered if car

[2016-11-27 14:49] sulkaharo commented on #262
Is there a pump event that could be used as a semaphore for bolusing to ensure no duplicate boluses are issued between rigs? Can we set the User Events? If we can read and write those, there could be logic where the loop would set a user event 10 seconds before the bolus and then before bolusing check that another loop hasn't also set the event.

[2016-11-27 18:58] scottleibrand commented on #262
I'm not aware of anything that could be used more reliably than the reservoir and bolusing checks, but there could be. Given how long it takes to execute a bolus, and how quickly we can check reservoir volume and bolusing status, and the fact that you can't execute a bolus when another is already running, I don't think there's any way for multiple rigs to execute the same bolus, but we should defi

[2016-11-27 22:37] PieterGit commented on #243
i created a newer version of a python script to get cgm readings from dexcom
see branch https://github.com/PieterGit/oref0/tree/dexusb-cgm-loop2
file: https://github.com/PieterGit/oref0/blob/dexusb-cgm-loop2/bin/oref0-dexusb-cgm-loop.py

[2016-11-30 19:40] tnharvey opened #264 "Trailing / removal"
Can we include something in the oref0-setup.sh to remove the trailing '/' on the nightscout URL if the user forgot to remove it?

[2016-12-03 03:48] scottleibrand opened #266 "Print out oref0-setup command-line options for repeated runs"
When running oref0-setup interactively, print out the command line required to run oref0-setup again non-interactively with the same options.

[2016-12-03 05:02] scottleibrand commented on #264
@tnharvey can you please test this and close the issue if it looks good to you?

[2016-12-03 05:20] scottleibrand commented on #254
@PieterGit Care to test the fix in https://github.com/openaps/oref0/commit/240e244a5928d7e3bd4b104e87026537ff7e9785 and LMK if that works for you?

[2016-12-03 05:21] #176 closed

[2016-12-03 06:24] tnharvey commented on #264
Tested, works great, thanks!

[2016-12-03 06:24] #264 closed

[2016-12-03 08:50] oskarpearson opened #268 "With medtronic CGM, setup script causes double-wakeup"
Hi

I've done some experimentation with the new setup script and the Medtronic CGM. It's looking pretty good! I did have to do some minor changes, but still have to coordinate them into useful patches. I must admit I wasn't actually following the documentation instructions either - and found some of the things that I had problems with were already resolved if I just followed the instructions ;) I'

[2016-12-03 13:08] scottleibrand commented on #268
I've wanted that probe-and-check feature for quite awhile, because we often see that the pump is already awake from talking to another rig, or from an mmtune run, but decocare/mmeowlink wake it anyway. So I think that is the best general solution.

Anything I can do to help make it happen?

[2016-12-03 15:49] oskarpearson commented on #268
Makes sense - I think it's the most general improvement too.

I'll see if I can get it sorted. Don't think it'll be too big a change to mmeowlink to make it work. I'll try do it there rather than requiring changes to Decocare.

[2016-12-03 16:18] Bender1061 commented on #268
could this potentially be the issue, with causing a lock up of communications. When a Edison/TI Stick rig's LIPO battery dies. I've had this happen a couple times, where the only way I could get the Pump to start communicating again with the rig was to re-seat the battery on the pump. No amount of restarting/cycle power or changing to a different rig would start the communicating till I re-seated

[2016-12-03 18:21] scottleibrand commented on #268
I don't think that would be related. This is just a slight inefficiency, where OpenAPS spams the wake up sequence unnecessarily and the pump responds with a "yeah, yeah, I'm awake".

[2016-12-04 01:19] #266 closed

[2016-12-04 01:19] #254 closed

[2016-12-04 01:27] scottleibrand opened #269 "Low glucose suspend based on raw CGM data"
The https://github.com/openaps/oref0/tree/oref0-setup now has the ability to loop based on raw Dexcom CGM data, for example during the 2-hour (re)start period, or when the receiver is showing `???`.  In order to do so safely, it has a maximum threshold, above which raw data will not be used.  In order to maximize safety, @danamlewis and I propose to set the maximum threshold rather low by default,

[2016-12-04 01:34] jasoncalabrese commented on #269
I've been using it with a higher target, so 120 send safe.  Only issue (I think it's still open), that a high temp could be started, but if above 120 it wouldn't be cancelled.  High temps should be cancelled when data is old or missing.

[2016-12-04 01:35] tekrulik commented on #269
120 seems safe to me as well. I like Jason's idea too. I love the idea of being able to loop based on raw - we had a ??? episode in the middle of the night last night and I would have loved for APS to low temp (which it would have based on the raw numbers). Thanks!

[2016-12-04 01:42] scottleibrand commented on #269
@jasoncalabrese did you mean "120 sounds safe"?  You wrote "send".

The issue for canceling high-temps on old BG data is https://github.com/openaps/oref0/issues/70, which is still open because it was actually two issues.  We already fixed the issue of canceling high-temps when CGM is calibrating or in ??? state, which I believe would cover this situation.  The remaining question there is whether w

[2016-12-04 01:44] jasoncalabrese commented on #269
Yeah, typos, I edited it

[2016-12-04 02:22] #237 closed

[2016-12-04 02:22] #245 closed

[2016-12-04 02:26] scottleibrand commented on #243
@PieterGit I'm wondering if it would be best to incorporate this into the cgm-loop framework used for openxshareble in the code I just merge to dev.  Would you like to take the first pass at that, or should we PR your latest branch over to a new branch in the openaps/oref0 repo so we can collaborate there?

[2016-12-04 02:26] scottleibrand commented on #242
Fixed via https://github.com/openaps/oref0/issues/264

[2016-12-04 02:26] #242 closed

[2016-12-04 02:27] #210 closed

[2016-12-04 02:27] scottleibrand commented on #187
@bewest @jasoncalabrese any suggestions on what we should do here?

[2016-12-04 02:30] scottleibrand commented on #132
I think this will eventually become part of https://github.com/openaps/oref0/issues/262 - not necessarily as an alternative to pumphistory, as I originally envisioned, but as a quick way to check whether pumphistory is out of date (because reservoir volume has dropped since the last pumphistory run) and needs refreshed.  Closing this out to work on it there.

[2016-12-04 02:30] #132 closed

[2016-12-04 02:30] #127 closed

[2016-12-04 02:31] #104 closed

[2016-12-04 02:33] scottleibrand commented on #97
Has anyone seen this issue lately, or have we fixed the problems leading to its underlying conditions?

[2016-12-04 02:33] scottleibrand commented on #95
Did this end up getting merged?

[2016-12-04 02:34] #83 closed

[2016-12-04 02:34] johnmales commented on #97
I haven't seen this issue lately. 

On Sun, Dec 4, 2016 at 1:33 PM +1100, "Scott Leibrand" <notifications@github.com> wrote:

Has anyone seen this issue lately, or have we fixed the problems leading to its underlying conditions?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-04 02:36] scottleibrand commented on #66
Is this still an issue?  Is anyone still using openaps-mmhistorytools who could help us with a fix?

[2016-12-04 02:38] scottleibrand commented on #62
I think we're stalled here.  If this is still an issue we want to fix, can someone reproduce the problem with the latest code and detail exactly what is being done incorrectly in oref0?

[2016-12-04 02:38] #59 closed

[2016-12-04 02:38] #57 closed

[2016-12-04 02:39] #56 closed

[2016-12-04 02:41] scottleibrand commented on #175
Does anyone feel that this is a feature we really need?  If so, any volunteers to help code (or at least test) it?

[2016-12-04 04:31] scottleibrand commented on #261
The existing lib/determine-basal/cob-autosens.js doesn't have all the info it needs to determine whether a meal is over yet: it just calculates carbsAbsorbed, and then lib/meal/total.js uses that to actually calculate COB.

It would probably make sense to create a new high-level autotune-prep.js, which would:
 - Iterate over all carb treatments in a manner similar to what lib/meal/total.js does, e

[2016-12-04 07:30] scottleibrand commented on #262
The "determine-supermicrobolus" command should output a supermicrobolus.json containing:

 - The temp basal rate (0) and duration (30+ minutes) to set before delivering the microbolus (long enough to bring eventualBG back up to target if we deliver the bolus and carb absorption stops)
 - The expected reservoir volume at which to deliver the microbolus (the reservoir volume from immediately before

[2016-12-04 23:58] thebookins commented on #95
I have an alternate setup using mmhistorytools ready to go, but there was some concern about adding in another dependency. I can submit the PR if there is still interest. mmhistorytools should handle square waves and pump suspend/resumes.

[2016-12-05 02:24] scottleibrand commented on #95
If we can figure out how to integrate it into oref0-setup so it gets all set up from scratch without any extra work on the user's part, I think that would address most of that concern.  Are you (or is anyone else in this thread) interested in doing that work?

[2016-12-05 04:07] thebookins commented on #95
Happy to have a crack at it. Will post here when it's ready for review.

[2016-12-05 07:54] PieterGit commented on #243
please merge my code to dev. i have tried to sent a pull request but i ended op in a merge hell. I'll refork later. i added basic pebble support as well to the dexusb stuff and working on only getting cgm data once every 5 minutes, exactly when the new cgm value is expected.

[2016-12-05 13:14] oskarpearson commented on #66
I'll check in with Nate about it - but since we're running the latest oref0 setup scripts without this (and things are working ok) I think we can close this.

I'll re-open if it turns out to still be an issue.

[2016-12-05 13:14] #66 closed

[2016-12-05 22:19] scottleibrand commented on #261
Per discussion with @sulkaharo we might want to do a pump model check and only allow SMB mode on pump models we've tested SMB on.  We also need to examine the decocare bolus code and the mmeowlink radio code to make sure it doesn't do any automatic retries of bolus commands, as we'll want to do reservoir checks before doing a higher-level retry if a bolus attempt fails.

We'll also need to be very

[2016-12-05 22:41] tim2000s commented on #261
One thing we can easily do using RileyLink and Loop is check the behaviour when consecutive bolus requests are made. Using the error logging we should be able to see the details of the rejects. Using Loop, I haven't seen re-requests on failed boluses. I like the idea of oref1 as a separator.

[2016-12-05 22:53] scottleibrand commented on #261
Oops, looks like I posted this on the wrong issue.  Let me go fix that, and then @tim2000s you can do the same.

[2016-12-05 22:54] scottleibrand commented on #262
Per discussion with @sulkaharo we might want to do a pump model check and only allow SMB mode on pump models we've tested SMB on. We also need to examine the decocare bolus code and the mmeowlink radio code to make sure it doesn't do any automatic retries of bolus commands, as we'll want to do reservoir checks before doing a higher-level retry if a bolus attempt fails.

We'll also need to be very

[2016-12-05 23:52] tim2000s commented on #269
You could also take a leaf out of the Medtronic book of algorithms and have a time limit on low suspend to avoid too long a period low if the data is unreliable?

[2016-12-06 00:03] danamlewis opened #274 "Make Nightscout uploads more efficient in standard oref0-setup.sh setups"
Most oref0 users need a paid hosting solution for NS (most recommended is $7 heroku) because the latest setups are not as efficient as it could be. We need someone to take how NS uploads can be done manually, with Ben's ns-auto-crud stuff (http://openaps.readthedocs.io/en/latest/docs/walkthrough/manual/phase-1/visualization.html#set-up-ns-device) , and get that into oref0-setup.sh

[2016-12-06 00:14] scottleibrand commented on #274
This would also allow us to stop storing Nightscout URL and API secrets information in two places: once we move everything over to the new method, we can stop adding it to crontab.  That will also make it much easier to troubleshoot when NS uploads aren't working properly.

[2016-12-06 22:25] scottleibrand commented on #262
tim2000s comment https://github.com/openaps/oref0/issues/261#issuecomment-265001607:

"One thing we can easily do using RileyLink and Loop is check the behaviour when consecutive bolus requests are made. Using the error logging we should be able to see the details of the rejects. Using Loop, I haven't seen re-requests on failed boluses. I like the idea of oref1 as a separator."

[2016-12-14 02:56] scottleibrand commented on #268
I believe this is now fixed with the latest mmeowlink release?

[2016-12-15 07:53] thebookins commented on #95
I've PR'd my changes as https://github.com/openaps/oref0/pull/279. Hoping it's not too opinionated! The graph below compares the old behavior (blue) against this PR (green) and @sulkaharo 's fixes in oref0.

![plot](https://cloud.githubusercontent.com/assets/12263040/21215809/89bbd61e-c2f7-11e6-9bbd-24fb5d001fe5.png)

[2016-12-15 16:26] oskarpearson commented on #268
Correct - the new mmeowlink checks to see if the pump responds to a 'getmodel' message first. Only if it's unresponsive will it perform the time-consuming wakup process.

[2016-12-15 16:26] #268 closed

[2016-12-20 07:00] scottleibrand commented on #261
https://github.com/openaps/oref0/blob/autotune/lib/autotune-prep/total.js now has all of the preparation steps working, and is spitting out json with top-level csf_glucose_data, isf_glucose_data, and basal_glucose_data arrays.

I decided to allocate data to ISF tuning if the BGI is more than about 1/4 of the "basal BGI" (for now), and use the rest for tuning basals.  Also, when avgDelta is positiv

[2016-12-20 07:15] scottleibrand commented on #261
I also added in the avgDelta and deviation values to the json dump, which I think should mean that all of the recursive stuff can be contained to autotune-prep, and we can do the rest of the tuning as a single pass.

[2016-12-20 09:54] oschumac commented on #274
Hi Scott, what about working directly in mongo. Making a Python or Java modul Who sends data to Mongo and make sure that data is integer. So that multiply controllers are able to sync. In my xdrip wixel repo i do Uploads from python to mongo.
Python lib pymongo is a fine solution. Is there someone with me ?

[2016-12-20 10:40] sulkaharo commented on #274
Re: injecting directly into Mongo - @jasoncalabrese and me have actually discussed that we'd like to deprecate direct to Mongo injection altogether as a supported use case for Nightscout, as it complicates the data management a lot and is the biggest source of hosting performance issues as we need to periodically poll Mongo for changes and then diff the loaded data to in-memory data to see what to

[2016-12-20 12:08] oschumac commented on #274
But then we Need a method on Nighscout, that ore0 Prozess can send his recent data and Nightscout checks vor duplicates bevor injecting into mongo. Otherwise oref0 has to poll data verify and upload every 5 minutes. Thats crazy for a mobile System. We can index our local data on oref0 and send only data which are new.

[2016-12-20 13:00] sulkaharo commented on #274
Ideally every system only sends the the changed / new events, which oref0 should already be doing. Agree Nightscout needs to de-duplicate, but this is practically impossible to guarantee with the current setup where the in-memory runtime is never guaranteed to have all data due to Mongo inserts - @jasoncalabrese let's look at doing this soon though.

[2016-12-20 13:16] oschumac commented on #274
That is why i like the direct Access. Why should we handle everything throw ns site. When we could manage the data like i have descripted above. I know the timing on NS Site is better throw ns api. But Prozess is easier by direct Access.

[2016-12-20 13:27] sulkaharo commented on #274
Well, if we require every client that ever injects data into Nightscout to guarantee they never insert dupes, that pretty much guarantees the system will never work. The only way to ensure no dupes exists in the data is to have the site dedupe before inserts. Always going through the API will also mean several other things, such as 1) ability to instantly push changes and notifications to every cl

[2016-12-20 16:23] oschumac commented on #274
So what is right now the solution ? Let the NS API stay like it is, from the view of the client ?

[2016-12-20 23:01] jasoncalabrese commented on #274
I think the ns-loop portion of the refresh loop hits NS every minute, instead of 1 time per loop, a pulls a good amount of data, reducing the number of requests is the best way to reduce load

[2016-12-20 23:03] scottleibrand commented on #274
What would be a good check to see whether there's something new to upload without hitting NS?

[2016-12-20 23:07] jasoncalabrese commented on #274
We could add a new property, that could be set by the openaps plugin (or maybe something more generic) and accessed similar to `/api/v2/properties/openaps?pretty=true`.  The nice thing about the properties is that they are kept in memory, so there isn't much load for extra requests.  The v1 entries/treatments apis pull from mongo, load into memory, and do a little processing, before sending to the

[2016-12-20 23:12] jasoncalabrese commented on #274
The properties are reloaded when new data comes in already, exposing timestamps of the last entry and treatment would let us do a quick check

[2016-12-21 06:24] sulkaharo commented on #274
@jasoncalabrese wonder how hard it'd be to implement etag support to the api, so clients could request for data conditionally? That'd mean 1 request / minute could be very light weight if there's no new data.

[2016-12-21 06:30] jasoncalabrese commented on #274
That might be good for entries/treatments, but there are some things like the current temp target or the timestamp of the last OpenAPS treatment that was uploaded that we could have as a property in memory

[2016-12-21 10:39] sulkaharo commented on #274
Right, I have support for If-Modified-Since header for Entries and Treatments, which would allow cutting down data transfer hugely. Looking at my current loop code, that's not trivial change though. I'll PR the API change in soon. Maybe we could implement a ns-client app that'd support sending and reading the headers? Doing this with curl will probably be pretty painful.

[2016-12-21 14:20] oschumac commented on #274
Yes curl is simple but for this case not the best. If a new api is there it might be usefull to create a java class which can be used in oref0 and nsClient

[2016-12-21 14:46] ehwest commented on #274
I think a pub/sub architecture would be right for this.  Under this kind of architecture both sides keep a cursor (the publisher keeps one cursor for each subscriber) indicating what records have not yet (or have) been successfully received by the target.  There is a time-ordering  to these messages, so the cursor is really just a counter.  The cursor can be changed by the target if it wants to re

[2016-12-21 15:51] jasoncalabrese commented on #274
We could make use of the NS websocket ap and borrow some code from the webclient and the android NSClient.  With that we'd have a small node client.

Another interesting option is to build on what I've done to run NS on the edison without mongo and add websocket sync, so 1 NS site could subscribe to another, and the NS request that we make from openaps would then point to the local NS that would t

[2016-12-22 04:56] tmecklem opened #285 "When using oref0-setup with MDT cgm, recent-missing-entries doesn't work as expected"
oref0-setup produces two aliases, `prep-pumphistory-entries` and `upload-pumphistory-entries`, that prepare and upload pump history events to Nightscout's entries collection. These pump history events are incorrectly included by the recent-missing-entries report when identifying gaps in Nightscout's entries collection of sensor data.

Since pump history events are also separately uploaded to the t

[2016-12-22 04:56] tmecklem commented on #285
I am working this issue here: https://github.com/tmecklem/oref0/tree/remove-ns-upload-pumphistory-entries

[2016-12-22 04:59] scottleibrand commented on #285
Thanks for taking this on. It should help with https://github.com/openaps/oref0/issues/274 too.

[2016-12-24 20:06] scottleibrand commented on #261
oref0-autotune-prep.js and oref0-autotune.js are now working well, and spitting out reasonable-looking results (although I still have some questions as to whether the CSF estimate is accurate).  The main problem at this point is that oref0-autotune-prep.js is highly recursive and takes an hour or two to run on a full day's worth of data (at 100% of one CPU).  Probably need to figure out how to mak

[2016-12-24 20:14] scottleibrand commented on #261
Oh, and they also work great on data downloaded from the NS treatments.json and entries.json API endpoints.  The only thing you need from openaps is an initial profile.json.  One additional enhancement might be to allow for providing a NS url and have the script download the needed treatments and entries data directly from NS...

[2016-12-25 05:46] scottleibrand commented on #261
Re-did the CSF algorithm to be much simpler and 50x more efficient.  :-)  I'm now parsing a day's worth of data in 2-3 minutes, so I can get started on testing whether it converges on a reasonable value.

[2016-12-26 17:53] scottleibrand commented on #261
After some bug fixes, I ran the script overnight starting with some too-aggressive and too-sensitive settings, and confirmed that the algorithm eventually converged (after a handful of runs on the same 3 weeks' worth of data) on two nearly identical and reasonable sets of estimates for ISF, CSF, IC ratio, and basals.

Here's how I ran the test:

Collect data:
[code]
Set up testprofile.json.  My to

[2016-12-28 00:26] scottleibrand opened #292 "IOB test failing right after midnight UTC"
@danamlewis committed some unrelated comments right before and after midnight UTC, and the no-op commit right after midnight UTC has a failing test: tests/iob.test.js:112:29 "IOB should calculate IOB with Temp Basals and a basal profile", with "expected 0.846 to be below 0.5"

This may indicate that our IOB calculations are somewhat incorrect right after midnight.

https://github.com/openaps/oref0

[2016-12-28 02:02] danamlewis commented on #261
Some more plain language to go with the code as it is today (I also made some changes today to rename and comment, which is in line with the below):

There are two key pieces: autotune-prep and autotune.js

**1. Autotune-prep:**
- Autotune-prep takes three things initially: glucose data; treatments data; and starting profile (originally from pump; afterwards autotune will set a profile)
- It calcu

[2016-12-28 02:22] danamlewis commented on #99
(For anyone following this issue, 99, you may also want to keep an eye on 261 (https://github.com/openaps/oref0/issues/261#issuecomment-269412654) which is where we are working on iterative autotuning using some of the framework described here, but may ultimately achieve both one-off basal tuning and/or more iterative ongoing tuning adjustments.

[2016-12-28 03:10] danamlewis commented on #261
A few food for thought items for later:

- Running this as a one-off may achieve #99 for basal tuning.

- Looking at the reports from iterative autotuning, you can start to see where COB=0 yet it is still associating the effect to CSF, which means mealtime insulin was mismatched or there were undercounted carbs. It may be possible to generate output/a report to point to where there may be (perhaps

[2016-12-28 08:36] sulkaharo commented on #292
The test is broken, #293 fixes it. The issue was with the with the IOB calculation overlapping midnight with the profile set by the test not extending to cover the end of the day in a determined fashion. The next test from this specifically tests for the midnight scenario and is working as expected. What I'm wondering though is, when committing 216ec855 I tested all the tests ran at midnight, so t

[2016-12-28 09:28] sulkaharo commented on #261
Things that come to mind:

* Autosens currently doesn't take profile changes into account, so autosens calculation fails to produce correct results for 24 hours after a profile change as it assumes the current profile was in effect prior to being applied (so at worst, the resulting autosens adjustment can be catastrophically wrong). If we want to guarantee correct results, this system should proba

[2016-12-28 13:00] PieterGit commented on #261
Looks promising...

I tried to do a run myself, but got errors:
[code]

Is that caused by a missing file, or should I install the autotune differently?

Why do you do calculate it on an hourly basis, and not (as the pump and Nightscout support) on a half-hour basis.

[2016-12-28 14:39] TC2013 commented on #261
Awesome idea and thank for this!

1. As it works now, it looks like the stored (basal, COB, and ISF) profile is an anchor and calculations will always stay fairly close to the stored profile. I think it would be great if the there were an option for autotune to update the pump profile with the new rates calculated.  That way there is a "memory" of the adjustments being made and hopefully that tran

[2016-12-28 17:34] scottleibrand commented on #261
@pietergit you probably just need to `npm run global-install` there.

I did hourly basals initially because that is convenient to parse and calculate.  Anything more frequent introduces more noise, as you're using less and less data to tune each (half) hour. And with DIA of at least 3h anyway, scheduling basals for less than an hour is unlikely to make much difference...

[2016-12-28 19:22] danamlewis commented on #274
(General note that we'd like to prioritize getting this done, so will link to here if anyone reports issues with nightscout uploads from openaps rather than troubleshooting individual instances, since we know it's an ongoing issue and this is the needed solution.)

[2016-12-28 19:46] ijustlovemath opened #295 "Documentation on classes and data structures?"
I'm trying to port OpenAPS's basal/bolus algorithm to another language for use in a glucose simulator. Short of following all of the function calls and tracing out which variables get filled with what data, are there any documents available that describe these things in detail? I'm looking for something akin to a header file from C, which lays out every "struct", its members, and the function decl

[2016-12-28 20:01] PieterGit commented on #261
Thanks. `npm run global-install` works. I updated Readme.md on my https://github.com/openaps/oref0/pull/282 pull request to improve docs. First run crashed:
[code]
. Investigated what happened.

[2016-12-28 20:03] danamlewis commented on #295
@ijustlovemath OpenAPS doesn't use any boluses, so is just recommending basal adjustments. I would read the reference design first (https://openaps.org/reference-design/), which may help with viewing the raw code about the basic pieces (determine-basal.js is key). This may also be a helpful writeup to read: http://openaps.readthedocs.io/en/latest/docs/walkthrough/phase-3/Understand-determine-basal

[2016-12-28 20:07] ijustlovemath commented on #295
Thanks, I've read the reference design a few times. That second page is extraordinarily helpful. So for a bolus, would you usually just play it by ear according to how many carbs you are about to intake? I'm assuming it's more qualitative rather than there being some sort of formula with which you calculate your bolus rate.

[2016-12-28 20:09] danamlewis commented on #295
@ijustlovemath it's a hybrid closed loop, so you do your normal bolus calculation (i.e. with a 1:10 carb ratio and 40 carbs, you would do a 4u bolus for that meal). OpenAPS will read the bolus in and act accordingly with the additional 4u IOB, but it's not going to recommend boluses as an output; OpenAPS only enacts temporary basal rates.

[2016-12-28 20:09] ijustlovemath commented on #295
Got it. Sounds good. Thanks, Dana! I'll reopen if I have further questions.

[2016-12-28 20:09] #295 closed

[2016-12-28 20:12] danamlewis commented on #295
@ijustlovemath sounds good, also feel free to ping us on Gitter (https://gitter.im/nightscout/intend-to-bolus) if there's anything you're trying to puzzle out from the code that's not clear. 👍

[2016-12-28 20:33] danamlewis commented on #261
@pietergit that looks like it's pulling in a bad autotune file, then running into a safety configuration. Are you running with the pump profile being pulled in now? That's preventing a lot of @jyaw's runaway numbers he was seeing before we ran it with a pump profile.

[2016-12-28 20:35] danamlewis commented on #261
Pump profile + 20% limits are currently doing well on both my data (regular, plus a set each of super sensitive and super resistant parameters) and @jyaw's data and preventing any crazy extremes, converging to reasonable values.

[2016-12-28 20:41] danamlewis commented on #261
@TC2013 we want some safety caps, which is why it currently would store a different profile rather than editing the pump profile - then a 20% cap will prevent it from constantly iterating up up and away and being very different from what the human originally set for manual mode. Open to brainstorming if whether there are other ways to achieve this - but generally thinking if the values and basals

[2016-12-28 22:16] danamlewis opened #297 ""Floating carbs" (or unannounced meals)"
While OpenAPS was originally designed as a hybrid closed loop with the intention for people to still do their usual meal boluses and carb entry, several people have taken it upon themselves to try "unannounced meals" (and no meal boluses) with openaps.

We have outlined a testing approach to unannounced meal testing, starting with a small amount of known carbs and working up from there, but below

[2016-12-28 22:54] danamlewis commented on #261
For OS X, the `date` command should be in the format `date -d 2016-12-$i +%s`. (If you skip this fix, the curl will give you usage errors.)

[2016-12-29 05:32] jyaw commented on #261
hey did the input/output change for bin/oref0-autotune.js? there's now a autotune/glucose.json and autotune/autotune.json.... aren't those pretty much the same? would I pass the previous run's autotune/glucose.json as autotune/autotune.json? With only 2 args it's complaining about my carb_ratio being out of bounds.

[2016-12-29 12:16] PieterGit opened #299 "Remove need for environement variables such as NIGHTSCOUT_HOST and API_SECRET and use ns device"
@scottleibrand suggested to remove the environment variables for nightscout and only use the ns device.

Stuff to do:
- integrate ns device in oref0-setup.sh (done)
- remove environment variables uses in oref0-setup.sh
- remove direct calls to `curl` (e.g. meals-and-carbs) and use `ns` device
- make sure there is only one place for nightscout host and api secret. That would be ( `ns.ini`). Current

[2016-12-29 16:11] jyaw commented on #261
disregard my previous comment.... not thinking straight. Good now :)

[2016-12-29 17:59] scottleibrand opened #300 "Support NS profile.json in autotune"
To allow running autotune independent of an openaps instance, we should support the format of Nightscout's /api/v1/profile.json, in addition to the (slightly different) oref0 profile.json format.

[2016-12-29 18:05] PieterGit commented on #300
Is it possible to merge the two profile formats in future? e.g. nightscout/api/v2/profile.json has same format as oref0 profile.json. that would be easier for endusers I guess.

[2016-12-29 18:27] scottleibrand commented on #300
Oh, I didn't know about /v2/profile.json. That might be easier.

Autotune can read in a profile, convert it if necessary, and then output an autotuned profile in our preferred format. Then #301 can be used to upload that to NS...

[2016-12-29 19:07] scottleibrand commented on #300
@PieterGit so you're suggesting the same thing as @sulkaharo: making a new /api/v2/profile.json endpoint that does the conversion on that end?

[2016-12-31 11:53] PieterGit commented on #243
Closing this issue. Most of these features have been implemented with https://github.com/openaps/oref0/pull/282 and https://github.com/openaps/oref0/pull/305

[2016-12-31 11:53] #243 closed

[2016-12-31 17:07] jyaw commented on #261
@scottleibrand @danamlewis used the script below to test what looks like an issue... My resulting profile.json does not have correct ".basalprofile.start" entries. They appear to be inherited from the initial pump profile with repition until the "start" value changes in the initial pump profile (e.g. repeated 00:00:00 until 3am when my old profile changed). My repo appears to be even with the upst

[2016-12-31 23:51] scottleibrand commented on #261
Yeah, for now those start entries are simply copied from the original profile.  They don't do anything AFAICT, so I haven't bothered to change them.  I think @sulkaharo had an easy fix for that, but I don't know where that ended up...

[2016-12-31 23:58] scottleibrand commented on #95
Anyone care to test https://github.com/openaps/oref0/tree/wip/mmhistorytools-integration and let us know how it goes?

[2017-01-01 10:12] sulkaharo commented on #261
[code]

[2017-01-01 11:00] sulkaharo commented on #261
Related - #301 pulls all of the needed profile data into the one profile object. We should do a refactor where all scripts pull data using this file and always go through using a method call that returns needed data, rather than accessing data in the profile directly. This would allow us to implement the support for loading multiple profile objects with validity periods, which is a step toward all

[2017-01-01 11:02] sulkaharo commented on #274
Still working on some solutions to mitigate this. Realized I'm not sure what all the issues are that people are worried about, so if everyone could elaborate what they perceive as the problem, that'd help.

[2017-01-01 11:11] sulkaharo commented on #274
Also to note - Ben's auto-crud implementation is a Bash script, which doesn't make supporting things like a smarter HTTP client that supports If-Modified-Since headers any easier. I have my own OpenAPS record cleaning component which tries to do things like smarter merging of Bolus Wizard events to prevent partial record uploads (food boluses with just carbs or just insulin) & mixed mmol/mg/dL dat

[2017-01-02 23:33] PieterGit commented on #261
I added https://github.com/openaps/oref0/pull/310 which can create an Microsoft Excel file with the 'expanded profile' (isf and basal profile for each half an hour of a day), for each profile json file in the autotune directory.

Please test and leave feedback here or in a new issue or i-to-b channel.

[2017-01-03 00:34] PieterGit commented on #300
Well I suggested the way to make the profiles of Nightscout and OpenAps/oref0 the same, but I didn't realize that was a *lot* of work and would require a major rewrite of one of the codebases. I think if multiple profiles are used, the distinction should be made very clear and consistent (so no `profile.json` in oref0, but call it `profile-nightscout.json` (or something similar). Otherwise it will

[2017-01-03 01:28] scottleibrand commented on #261
I think we're getting close.  Just opened https://github.com/openaps/oref0/pull/313 for review

[2017-01-03 04:18] scottleibrand commented on #297
One possible way to implement this might be to avoid guesstimating floating carb *amounts* (and trying to decay them), and instead just activate floating carb *mode*.  That could be scheduled directly, as @danamlewis described above, but we may want to activate it for DIA hours after any "eating soon" style low temp target or bolus, and then either rely on some form of meal announcement (ES mode o

[2017-01-03 10:16] sulkaharo commented on #261
So hey, how does the tuning take profile changes during the period being analyzed into account? From what I can see nothing was done regarding this, which AFAIK can lead to the analysis producing a profile that's on the other end of the safety margin from what it should be. If this goes into the production release without even a simple solution in place, at least the documentation of the feature s

[2017-01-03 14:21] jyaw commented on #261
I agree with @sulkaharo's concern. It seems that we now have the ability to push/pull/sync profile info from NS though?.. Perhaps we need to pull all profiles that cover the particular time window from NS? In a case where there's an overlap, we could just do a piecewise autotune for that day and note this to the user somehow? Or not provide autotune results during periods with older (not the curre

[2017-01-03 14:33] sulkaharo commented on #292
Should we close this or do you want to validate the fix?

[2017-01-03 15:03] sulkaharo commented on #62
FWIW with our pump, the problem is the pump using mixed units based on how the data was produced. I tried looking into a good fix, but this would require decocare would flag the decoded packet with the units, as known to produce by the specific pump model.

[2017-01-03 16:30] #292 closed

[2017-01-03 17:18] scottleibrand commented on #261
I believe that concern is addressed by the fact that, with autotune enabled, changes to the pump only get reflected in pumpprofile.json, which is only used to set the 20% caps on autotune.  The actual IOB calculations etc. will continue to use the autotuned profile.json, which removes the sudden shifts you would see with just autosens.  We definitely should add some documentation around this, thou

[2017-01-03 20:33] sulkaharo commented on #261
+1 for docs :) I'm definitely not sure what all the intended consequences of this system are.

[2017-01-03 20:36] danamlewis commented on #261
This issue is starting to get busy, and has nuggets of what needs to go in to start. Unless someone beats me to it, I'll pr to the OpenAPS docs and we can discuss additions/edits on that pr (will come back and link it here). Although, since this could be used by non-OpenAPS users, we'll need to try to be clear on how this is documented as a one-off run by anyone w requisite data, vs the documentat

[2017-01-06 03:03] danamlewis commented on #261
(Starting stubbing out WIP docs - please direct PRs there for things that need to be added, further documented, etc. to this page: http://openaps.readthedocs.io/en/latest/docs/walkthrough/phase-4/autotune.html  Thanks! )

[2017-01-07 18:39] moomoobloo opened #318 "Fake openaps reports break auditing of loop via git"
The loop generated by oref0-setup creates a few files that look like openaps reports but are not actual openaps reports:

- monitor/glucose.json (file is copied from other report files via `cp`)
- monitor/carbhistory.json (output of `curl` redirected to file)
- settings/temptargets.json (output of `curl` redirected to file)

Since these files are not openaps reports, they are not tracked in git, w

[2017-01-07 18:48] scottleibrand commented on #318
PRs welcome. The curl commands should probably be replaced with calls to the `ns` device. Replacing the `cp` aliases probably would require a new device, either using `copy-fresher` or a new script.

[2017-01-08 05:23] moomoobloo opened #320 "use JS logging library with support for verbosity levels"
There are many helpful logging and debugging statements throughout the code base which are commented out. Enabling these requires editing the source code and installing from source, which is not always feasible or easy when debugging an already deployed loop.

This could be better handled by a logging library with support for verbosity levels, which ideally could be set with an environment variabl

[2017-01-08 06:23] scottleibrand commented on #320
We'd need a volunteer for this.  I know @sulkaharo @jasoncalabrese and others have expressed interest in doing something better with Papertrail logging (which this would support), but not sure if they have any more interest than I do in actually doing all the plumbing work to make it happen.

[2017-01-08 06:56] vincepf commented on #299
I'm not sure if I understand this properly, but in the current setup script here:
[code]
doesn't the autoconfigure-device-crud set up use nightscout.sh, which here:
[code]

sets up the `ns` device itself as simply a process to use `nightscout.sh`?

[2017-01-08 07:20] scottleibrand commented on #299
That is correct. We want to keep nightscout.sh and the ns device, and make the ns-* devices, and bare curl scripts, use it.

[2017-01-08 08:33] scottleibrand opened #321 "Avoid autotune high-ISF bias"
It seems that autotune as currently implemented may have a bias towards high ISF, due to the way we categorize BG data as attributable to CSF from the time COB=0 until deviation < 0, after which point we attribute data to ISF.  As a result, deviations may tend to be negative in ISF-attributed data, resulting in a bias toward thinking ISF needs to be higher to mitigate the negative deviations.

One

[2017-01-08 16:11] jasoncalabrese commented on #320
We don't need a js logging library for papertrail, just need to use syslog.  I've used winston before, the main thing it would give us is the ability to customize logging at runtime with env vars or config file.

I've also use bayon, before but it's output is json and I think it only makes sense if you're using logstash

[2017-01-08 23:59] scottleibrand commented on #321
Turns out that change introduces a considerably worse low-ISF bias.  Running autotune as-is against many months of data, it looks like any high bias is self-limiting: the autotuned ISF is staying around 50.  Given the stable and reasonable estimates I'm seeing, I'm going to close this.

[2017-01-08 23:59] #321 closed

[2017-01-09 06:32] tim2000s commented on #297
Given the time it takes the Medtronic pumps to deliver a bolus, is there a great deal of difference between an appropriate TBR over five mins and a supermicrobolus, other than safety considerations on max safe basal rate?

[2017-01-09 06:36] scottleibrand commented on #297
The biggest difference is that MDT pumps will let you administer a microbolus, but won't let you set a temp basal of less than 30 minutes.

[2017-01-09 07:10] scottleibrand opened #325 "Autotune: consider longer lookback for basal adjustments"
Per discussion with @adrianlxm at https://gitter.im/MilosKozak/AndroidAPS?at=58731ad8cbcb2817704522f0, it might work slightly better to spread out the basal adjustments over more hours prior to just the last 3: perhaps 4 or 5 hours?

[2017-01-09 22:13] scottleibrand opened #326 "Autotune: support ISF and IC ratio schedules"
Currently, autotune uses and tunes a single ISF and IC ratio.  Some people use different ratios over the course of the day.  It might be useful to support tuning different ratios for different times of day (if they're already different in the pumpprofile).  Would need to figure out which data to attribute to which time of day, and make sure we have sufficient data for each schedule entry before ma

[2017-01-09 22:14] scottleibrand opened #327 "Autotune: support running on OS X"
Currently, some of the commands (particularly the `date` syntax) autotune uses are Linux-specific.  We should update it to run on OS X as well.

[2017-01-09 22:52] CrushingT1D commented on #327
I can take this one.

[2017-01-15 18:53] PieterGit opened #334 "openaps ns-loop crash with dev branch"
[code]

I tried debugging it, but the cgm data and maybe the pump history had been uploaded by another rig.
So the problem had disappeared

[code]

Any body got a clue what went wrong?

[2017-01-15 18:55] PieterGit commented on #334
Running on rpi3 with Dexcom G4 connetected via USB (`dexusb` option from `oref0-setup.sh`)

[2017-01-16 22:00] PieterGit commented on #261
Did my first autotune run on on 6 weeks of data. Findings/remarks:
- autotune takes long, It took upboard (Intel X5-Z8350 1.92 Ghz) almost 2 days for 3 runs
- i think auto tune must get it own settings, i.e. profile.autotune_min and profile.autotune_max if run daily. Otherwise profiles can really change quite fast, e.g. `1.2` increments on a day might increase the basal 3.6 times in a week ($1.2^7

[2017-01-16 23:15] scottleibrand commented on #318
Looks like the command to use for the carbhistory.json report would be `openaps use ns shell get treatments find[carbs][\$exists]=true`

[2017-01-17 08:00] scottleibrand commented on #318
And `openaps use ns shell get treatments "find[created_at][\$gte]=`date -d \"6 hours ago\" -Iminutes`&find[eventType][\$regex]=Target"` seems to do the trick for settings/temptargets.json

[2017-01-17 22:42] PieterGit commented on #261
I also used Excel to calculate a `profile.autosens_min=1.0` and `profile.autosens_max=1.0` basal profile. That way I can see the suggestions of autotune based on the same amount of daily basal insulin. Would setting it in autotune and calculating with autotune give a different result than scaling the autotune results by compensating the increase of suggested basal insuline?

[2017-01-18 05:36] scottleibrand commented on #261
I think for retrospective analysis we probably want to discourage people from running multiple runs on the same input data, and instead have them just use more input data if they want to see if it results in bigger adjustments.

To speed things up, we should have oref0-autotune.sh download the treatments for each day separately, so that oref0-autotune-prep.js doesn't have to scan through multiple

[2017-01-22 03:18] danamlewis opened #340 "Autotune: weekday vs. weekend profiles"
Idea: Maintain different day of week profiles and tune them separately, for people who have markedly different schedules (i.e. every Tuesday is X; or for school days vs non school days).

Future idea - could do some ML around adjusting for time of day, too.

But to start, probably assess by day of weeks, or weekday/weekend (by allowing people to input which days go into Bucket A or Bucket B) and t

[2017-01-22 03:49] scottleibrand commented on #340
Something like https://github.com/openaps/oref0/blob/autotune-dayofweek/bin/oref0-autotune-dayofweek.sh should do the trick.  Anyone want to test and debug it?  I haven't even tried to run it yet.  :)

[2017-01-22 04:00] danamlewis commented on #340
So per @scottleibrand, that looks like it tunes Day 7 (say, Sunday), then on Monday becomes Day 1, etc. etc. and tunes each of those. So ideally, you'd get tuned overall in general before turning on day-of-week autotune...

[2017-01-22 04:02] scottleibrand commented on #340
And the way the (very simple) script works, since the day of week files won't exist at first, it will do a full week of regular daily autotuning once you turn it on before switching to day-of-week autotuning.

[2017-01-22 04:07] scottleibrand commented on #340
To test this, you'd just need to edit your crontab and replace `( oref0-autotune -d=/home/edison/myopenaps -n=http://diyps.net:2929 && cat /home/edison/myopenaps/autotune/profile.json | json | grep -q start && cp /home/edison/myopenaps/autotune/profile.json /home/edison/myopenaps/settings/autotune.json)` with `~/src/oref0/bin/autotune-dayofweek.sh`

[2017-01-22 04:09] scottleibrand commented on #340
To test this, you'd just need to edit your crontab and replace
[code]
with `~/src/oref0/bin/autotune-dayofweek.sh`

[2017-01-22 20:13] danamlewis opened #341 "Autotune: Support MDI"
Several people have asked about autotune for MDI.

Autotune was originally designed for pump/CGM users...but perhaps could be useful for MDI as well? We need to explore further.

A few known issues to tackle:

- Autotune currently pulls pump profile - so we would need to create a simulated basal profile to mimic the pump profile
- Autotune, because used with pumps, only deals with short term actin

[2017-01-22 20:28] scottleibrand commented on #341
If we set aside the task of properly titrating long-acting basal insulin (which is fairly straightforward to do based on morning fasting BG using a simple iterative titration algorithm), autotune might be able to run on MDI users' data and generate useful estimates of ISF and CSF/CR.  If anyone who is using MDI with Nightscout and entering all of their boluses and carbs wants to give it a try, we

[2017-01-23 00:51] aellis13 commented on #341
I am on MDI and log all my boluses and carbs to Nightscout. I manufactured a pump profile (basically levemir / (time between doses) becasue I was too lazy to do anything more detailed ). I ran it and the recommend ISF and CSF/CR were identical to the ones in my profile. The basal rate changes match what I would expect.

[2017-01-23 00:56] scottleibrand commented on #341
Precisely identical, or just close? How many days of data did you run it on?

[2017-01-23 01:00] aellis13 commented on #341
I ran 1 month and 1 week. Here is sample running from Jan 1, 2017. They are identical

Parameter      | Current  | Autotune
-------------------------------------
ISF            | 36.000   | 36.000
CSF            | n/a      | 7.200
Carb Ratio     | 5.000    | 5.000

[2017-01-23 01:08] scottleibrand commented on #341
Ok, that means it didn't find any insulin or carb treatments in your NS. Perhaps the format is different than it expects? Want to get into Gitter and PM me your NS URL so I can take a look?

[2017-01-23 05:01] scottleibrand commented on #341
@aellis13: It looks like the xdrip data source requires some changes to oref0 to support properly.  I just pushed a new branch with the changes necessary to let me run autotune on your data on my machine.  Can you please re-run your oref0 install using the autotune-mdi branch instead of the dev branch and give it another try?  Please hit us up on https://gitter.im/nightscout/intend-to-bolus for in

[2017-01-23 19:04] DunePlodder commented on #341
I am MDI with Humalog & Levemir. I use the Nightscout CarePortal. Please let me know how I can help.

[2017-01-23 19:09] danamlewis commented on #341
@DunePlodder great! we actually have a few MDI'ers successfully testing now - follow Phase C instructions (https://github.com/openaps/docs/blob/master/docs/docs/walkthrough/phase-4/autotune.md#phase-c-wip-running-autotune-more-easily-as-an-average-user) , but in steps 2-C and 2D use `autotune-mdi` where it says `dev` in those lines. Let us know in Gitter if you need live help, but also post here i

[2017-01-23 19:22] danamlewis commented on #341
Ask: for anyone running with MDI, we also need general feedback about whether it's useful to run it with your basals divided by hours...with the basal tuning feedback it's giving, does it give something that is useful to how you migh translate that back into adjusting your basals? Please give input into what you did, how you did it, etc.

[2017-01-23 19:33] danamlewis commented on #341
Feedback for MDI'ers can now also be input into the Google form for general autotune feedback: https://docs.google.com/forms/d/e/1FAIpQLSclFZ6IZipWH1BGhHyRzQcnSQ4T2sUXI6-ea2FrN_4Bas-DJw/viewform?c=0&w=1

[2017-01-24 06:56] SandraK82 opened #342 "Autotune: check system locales"
I ran into trouble on a german preinstalled server:
The server was configured to use german locale, thus printing 1.0 as 1,0
Resulting in Output like:
/usr/local/bin/oref0-autotune-recommends-report: line 110: printf: 1.4: invalid number
or:
Parameter      | Current  | Autotune
-------------------------------------
ISF            | 30,000   | 0,000
CSF            | n/a      | 0,000
Carb Ratio

[2017-01-24 06:59] sulkaharo commented on #342
Side note: using US locale in all my Openaps related devices to avoid this, Finnish number formatting also differs from US and breaks things. Haven't recently tested what breaks with non-US formatting.

[2017-01-24 07:02] SandraK82 commented on #342
@sulkaharo good idea! Just wasn`t expecting that error and took my some time to reconfigure system since the setup was somewhat strange for ubuntu on this one...

[2017-01-24 07:19] SandraK82 opened #343 "Autotune: carb Ratio limit"
oref0-autotune-prep.js limits carb ratio hard to >= 3.0 on line 54.
Mmaybe this should be made configurable, as I ran into trouble as my base carb ratio is currently 3.0 and autotune suggested 2.741 for one day from my dataset.
Worked around it by setting Limit to >=2, an optional cmdline flag would be helpfull

[2017-01-24 15:31] tynbendad opened #345 "autotune time display doesn't mention timezone"
there's no mention in the autotune output (or input) about what timezone the basal times are reported in.  i had assumed it was local time according to my nightscout setup, but on looking at the results i think its more likely to be GTC?  if so that should at least be mentioned. better would be to have something in profile.json that sets the timezone, so that the times match what are set on the lo

[2017-01-24 19:06] scottleibrand commented on #345
I believe it's actually local time on the box you're running autotune.  Can you try setting the VM's timezone to match your pump with `sudo dpkg-reconfigure tzdata` and see if that corrects it?  If so, we could just add a note to the docs to have people change their VM timezone to match their rig before running autotune...

[2017-01-25 02:08] scottleibrand commented on #345
Added a note to the docs to address this: https://github.com/openaps/docs/commit/6975dae64a305cba0026f94b081f5d4e9c200b8c

[2017-01-25 02:08] scottleibrand commented on #342
Added a note to the docs to address this: https://github.com/openaps/docs/commit/6975dae64a305cba0026f94b081f5d4e9c200b8c

[2017-01-25 02:09] scottleibrand commented on #342
If anyone would like to take on the task of updating oref0-autotune.sh to check locales and error out if they're incorrect, PRs welcome.

[2017-01-25 04:04] LynneRB opened #346 "Autotune profile entries"
It is possible to leave out minutes. For example:
{
  "min_5m_carbimpact": 3,
  "dia":  your_dia,
  "basalprofile": [
    {
      "i": 0,
      "start": "00:00:00",
      "rate": your_basal
    },
    {
      "i": 1,
      "start": "00:30:00",
      "rate": your_basal
    },
    {
      "i": 2,
      "start": "21:00:00",
      "rate": your_basal
    }
  ],
  "isfProfile": {
    "sensitivities": [

[2017-01-25 04:54] tynbendad commented on #345
yes, that command does fix it on google cloud vm.  i also tried ubuntu virtualbox and it didn't need it, already had the correct local time, and the results matched after fixing the timezone on google cloud.

[2017-01-25 04:54] #345 closed

[2017-01-25 06:18] scottleibrand commented on #343
Just relaxed that to 2.0 in https://github.com/openaps/oref0/commit/7c4538627ad4307c27c2db44def54818419a66aa

The original check was for looping based off of pump data (where anything less than 3 was impossible): I don't think there's any reason to be as stringent for autotuning.

[2017-01-25 06:18] #343 closed

[2017-01-25 23:32] Cagier commented on #261
I'm really interested in running against retrospective data but have only used Nightscout for uploading CGM readings thus far.  However, as we have an Animas Vibe pump, all the historical basal, bolus and carb info is held in Diasend.  Is there any relatively easy way of using the exported (into .xls) data from Diasend and plugging into Nightscout / mlab?  Or can the system take information from a

[2017-01-26 00:11] scottleibrand commented on #261
If you can construct a treatments.json file in the format expected by the autotune code, you can run oref0-autotune-prep against that instead of against the ns-treatments.js downloaded by oref0-autotune.

[2017-01-26 00:18] Cagier commented on #261
Thanks for the seedy reply Scott.  OK, I reckon I'll set up some excel formulas/macros to do.  If I come up with something reusable then I will post it back here in case anyone else is interested.  I'll have a look at the documentation and see if I can work out the appropriate format.  If there are any existing samples that I can refer to then that would be useful but it would probably help if I r

[2017-01-26 00:21] scottleibrand commented on #261
The expected format is json, so you'll probably end up writing a script to parse the data from .csv or something and turn it into the proper json format.  Not sure if Excel can do json natively, but I've never heard of anyone doing it that way.  :-)

[2017-01-26 04:40] danamlewis opened #349 "Autotune: Better input checking, self-explanatory error messages, and bailing if missing input"
We need volunteers to work through autotune and provide:

1. Better input checking
2. Self-explanatory error messages
3. Make it bail if it's missing required inputs

[2017-01-26 18:03] sulkaharo commented on #326
Can we deprecate the single ISF and IC ratio value in profile.json altogether, so it's impossible to actually use the single values as opposed to actually getting the correct value from the profile?

[2017-01-26 18:13] scottleibrand commented on #326
Not sure how you'd make it impossible for me to just use the 0th item in the array like I did to get autotune working quickly. I don't think there are any shortcuts here: someone just needs to volunteer to do the work.

[2017-01-26 18:23] sulkaharo commented on #326
Getting the right value is a one-liner; profiledata[] vs profile.isfLookup(profiledata,date). It'll be pretty easy to make that even cleaner (profile.isf(date)). Not sure why I'd want to make direct data access impossible as such; I mean this more in the lines of "how about we implement a simple to use API to get the right values right from the get go and deprecate the old method of getting profil

[2017-01-26 18:25] scottleibrand commented on #326
Ok, that sounds like a good idea. It wouldn't address the topic of this issue, though, which is that figuring out how to properly tune multiple ISF and CR values is quite a step up in complexity from tuning just one.

[2017-01-28 20:29] danamlewis commented on #346
(Resolved)

[2017-01-28 20:29] #346 closed

[2017-01-28 20:29] danamlewis opened #353 "Setup script - save output for running another time"
Take the "run this again" command line option and auto-add to cron as comment and/or put in another file for easier reference later.

[2017-01-28 21:50] PieterGit opened #354 "Improve realibility of ww pump / oref0-subg-ww-radio-parameters.sh (especially with TI USB)"
The current `oref0-subg-ww-radio-parameters.sh` script assumes several things that are wrong.
E.g. if `/dev/spidev5.1` exists (e.g. on an Edison board), it assumes the pump can be reached there.
Improvement: use `port` as specified in `pump.ini`

The `oref0-subg-ww-radio-parameters.sh`  script also assumes that the serial port exists. I've seen case in which (for some mysterious reason) the `/dev/

[2017-01-28 22:10] elnjensen commented on #327
I can take a look at some of this as well. What is likely to be needed to even get going with running to see what breaks?  Install `node.js` presumably and of course git. Anything else obvious for prerequisites that wouldn't be on a Mac?   I'll give it a go and start taking notes, but chime in if you have thoughts.

[2017-01-28 22:42] PieterGit commented on #354
@ceben80

To give it a try use:
[code]

and remove `oref0` directory in future, and use `mv oref0.default oref0` once this fix has been merged

[2017-01-28 23:01] danamlewis commented on #353
See this PR for testing before merging to dev: #358

[2017-01-28 23:05] PieterGit commented on #354
@ceben80 ,  @scottleibrand  , @oskarpearson

Is still have some issues with the serial connection and the TI-stick

dmesg lists
[code]

and the pump-log lists:
[code]
Another part of the pump log
[code]

It seems to hang on this line `./change_setting.py $SERIAL_PORT 0x06 0x00          # CHANNR `

Any suggestions?

[2017-01-28 23:19] PieterGit commented on #354
I also tried to set `export RFSPY_RTSCTS=0` and upgraded to https://github.com/ps2/subg_rfspy/tree/dev but nothing seems to work. Then I plugged the TI-USB stick in my rig that uses most of the master/official releases (from quite a while back). That works without problems.
I'll dig into it later, but help is appreciated.

[2017-01-29 01:21] cjo20 opened #360 "Implement mmtune speedup in oref0-setup loop"
Should be a simple change. Currently have this working locally in a non-`oref0-setup` loop using:

`cp mmtune.json mmtune_old.json; openaps use pump mmtune > mmtune.json`. It'll look for `mmtune_old.json` in the root of the openaps directory.

[2017-01-29 06:32] ceben80 commented on #354
@PieterGit I don't use the TI, I'm running either with ERF or the Explorer Board, should I test with this environment?

[2017-01-29 08:50] scottleibrand commented on #269
This is now in dev and ready for release soon.  Closing.

[2017-01-29 08:50] #269 closed

[2017-01-29 08:56] PieterGit commented on #354
@oskarpearson thanks a lot for helping me out. I'm using TI USB. I'll try to increase the wait or remove the reset. I currently cannot test because the pump and rig are not here

@ceben80 : this patch also creates a `oref0-get-pump-device` that will get the pump device from the users `pump.ini`. That's a lot better than current implementation of `oref0-find-ti`.

@oskarpearson and @ceben80 can you

[2017-01-29 09:05] scottleibrand opened #363 "Target autotuning"
Using oref0 with well tuned basals and ratios, it is often fairly straightforward to achieve very high time in range percentages overnight, and avoid lows at most times.  It would be useful if we could have oref0 figure out when it's safe to shoot for a lower target, in order to lower average BG and A1c, without increasing hypoglycemia risk.

One idea for accomplishing this would be to apply the i

[2017-01-29 09:44] PieterGit commented on #354
Removed the reset for now. See if that makes the rig stable. Will follow up later

[2017-01-29 15:56] tim2000s opened #364 "MDT CGM interfering with Temp Basal collection"
When looping, "use pump read_temp_basal" fails following a "use CGM iter_glucose_hours 24.0". This happens consistently, until an mature runs, following which the loop runs successfully.

pump-loop.log output:

[code]

When run consecutively manually, they seem to function with no problems.

[2017-01-29 16:02] cjo20 commented on #364
It's worth looking in `/var/log/syslog` to see if it says why it failed

[2017-01-29 17:26] PieterGit commented on #354
Without reset.py was stable for whole afternoon, which makes me believe that the reset.py on a TI USB was the culprit.

I'm now trying with first a oref0-reset-usb if it fails after a minute, and if it still fails after the second minute a reset.py

[code]

I think I'll use the oref0-reset-usb when you use a TI USB. If you're using a spidev use `reset_spi_serial.py`
and otherwise use the `reset.py

[2017-01-29 19:41] PieterGit commented on #354
@cjo20 thanks for your review in the pull request https://github.com/openaps/oref0/pull/357#issuecomment-275882969

I don't like to use the serial device as a parameter, because then the mmtune alias needs to use that 'hardcoded' path instead of getting it from the `pump.ini` settings file. I don't like duplicating (volatile) data, when the correct source is the `port` in `pump.ini`. Adding the lo

[2017-01-29 19:45] cjo20 commented on #354
@PieterGit My comment on the pull request describes a way of using your script to determine the device path using your script and then passing it to `subg-ww-radio-parameters`  on the command line.

[2017-01-29 19:52] #364 closed

[2017-01-31 00:31] beached opened #368 "Profile dia/basal.value are a string not number"
I cannot see where this is happening but when retrieving /api/v1/profile.json the dia and basal.value members are returning a string and not a number.  This makes non-javascript interop difficult whereas javascript does not care.  Plus needless extra quotes per number

[2017-01-31 00:45] beached commented on #368
sorry wrong repo

[2017-01-31 00:45] #368 closed

[2017-02-01 00:53] PieterGit commented on #354
Updated the scripts quite a bit. Please test with WW-pump (and with/without TI USB).

[2017-02-01 10:17] ceben80 commented on #354
@PieterGit just re-flashed an edision (due to my bt tethering trial yesterday which didn't work reliable) and setup new with your 'devww' descripted above, will give feedback I've got issues...

[2017-02-01 15:53] ceben80 commented on #354
@PieterGit I got this message "No such file or directory"

Starting pump-loop at Wed Feb 1 16:51:05 CET 2017:
subg-ww-radio-parameters:bash: /usr/local/bin/oref0-subg-ww-radio-parameters-timeout: No such file or directory
mmtune: pump://JSON/mmtune/monitor/mmtune.json
reporting monitor/mmtune.json
"868.534", 5, -72  Listening: ............

[2017-02-01 17:23] PieterGit commented on #354
@ceben80 you used oref0-setup.sh I guess with the new setup.  Somehow the patching of `openaps.ini` does not seem to work. I'll dig into it later tonight.  Replace `/usr/local/bin/oref0-subg-ww-radio-parameters-timeout` with `oref0-subg-ww-radio-parameters.py --resetusb` if you have a TI USB. Or replace it with `oref0-subg-ww-radio-parameters.py` otherwise.

[2017-02-01 20:24] PieterGit opened #371 "oref0_online can stall a rpi3 rig if bluetooth is not used, and does not reconnect to the wlan"
I have a setup without bluetooth tethering. I noticed my rig didn't reconnect to my wifi network and when I came back I could not log in over ssh. When I attached a keyboard and HDMI I found out:
- the rpi3 had a severe load and non responsiveness
- it didn't connect to the wifi network

I guess some of the bluetooth code / bluetooth tethering is causing problems when not used.

[2017-02-01 20:28] scottleibrand commented on #371
What did `top` say was causing the load?  Did `ps | grep openaps` show anything extra running?

I just noticed my Pi was busy with multiple `oref0-truncate-git` processes all running `du` - I need to update that cron job to only launch the script if it's not already running.

I don't think anything oref0-online is doing could cause severe load.  I'd be interested to see details if it can cause the

[2017-02-01 20:37] PieterGit commented on #371
I'll try to reproduce it later, but clearly oref0-online issues all kind of bluetooth commands which don't make any sense on a non-bluetooth setup

[2017-02-01 21:03] scottleibrand commented on #371
I'm not sure that's true.  First off, if the rig is online, and the rig has no bnep0 IP, then https://github.com/openaps/oref0/blob/dev/bin/oref0-online.sh#L8 is true and https://github.com/openaps/oref0/blob/dev/bin/oref0-online.sh#L10 is false, so it just exits.  If the rig is offline, and no arguments are passed to oref0-online, then https://github.com/openaps/oref0/blob/dev/bin/oref0-online.sh

[2017-02-01 23:06] PieterGit commented on #354
@ceben80 could you retest? What setup do you use?

[2017-02-02 02:06] jessiepusateri commented on #349
Running ```oref0-autotune --dir=~/myopenaps --ns-host=https://jessie-cgm.herokuapp.com-start-date=2017-01-31``` created this error because the parameters were entered incorrectly. (forgot a ' -' between the link and start-date') This and other errors with the arguments should fail earlier/more gracefully.

[code]

[2017-02-02 02:12] jessiepusateri opened #373 "Autotune: Automatically handle pumpprofile.json/autotune.json creation"
In the Phase C setup, the following steps:

- E. Create a pumpprofile.json that is the same as your profile.json. On the command line run: cp profile.json pumpprofile.json
- F. Create a third file from the command line by running: cp profile.json autotune.json

should be handled in the bash script. If the files are not present, it should prompt you "The following files are missing: pumpprofile.jso

[2017-02-02 06:21] ceben80 commented on #354
@PieterGit yesterday I completely re-install (flash) my Breakout Eddie and run the oref0-setup

[2017-02-02 06:30] ceben80 commented on #354
@PieterGit maybe anything wrong I did, now again your above instructions

[code]
...but got the same

[code]

[2017-02-02 23:32] LynneRB commented on #342
Maybe this is the wrong place to put this, but possibly add the tz part for the "average user" section.  Some reports would not work because my timezone was off. I am using Google VM, average user.

[2017-02-02 23:47] scottleibrand commented on #342
@LynneRB would you mind putting in a PR with the changes you'd suggest?

[2017-02-02 23:48] LynneRB commented on #342
Sure.

[2017-02-06 05:20] danamlewis opened #386 "Runagain.sh should ultimately prompt for deleting cron"
Per @kdisimone, runagain.sh did not prompt for deleting cron after selecting y for scheduling cron (whereas it did prompt on initial run). Seems like it should.

[2017-02-06 05:30] scottleibrand commented on #386
This was probably because you ran `~/src/oref0/bin/oref0-setup.sh` the first time, which runs the version you just updated with `git pull`, but when you ran it from oref0-runagain.sh it did `oref0-setup`, which uses the installed version.  Unless you run `npm run global-install` the installed version won't be the updated one until we do a release.

[2017-02-06 05:35] scottleibrand commented on #386
@kdisimone you can try it again after doing `npm run global-install` in ~/src/oref0 and it should prompt you properly, or just use `~/src/oref0/bin/oref0-setup.sh` until we release the updated `oref0-setup` to master.  Please reopen if you have any issues with that.

[2017-02-06 05:35] #386 closed

[2017-02-06 18:48] ceben80 commented on #354
I have tested running `openaps mmtune`

[code]
looks good to me

[2017-02-06 19:27] Kdisimone opened #387 "Double COB"
I have yet to narrow down the when or how that this is happening, but some carb entries made using the pump (seen this on 722 and 723 pumps so far) have been read as double and used by OpenAPS as double...so far these have been entered using pump bolus wizard and have not been "backed out" of before bolus.

If there's some suggestions that you have to help gather useful info (command lines to run?

[2017-02-06 19:44] Kdisimone commented on #387
Looking at this one more in detail....over time, here's the info from the pills

You can see the problem start.  The careportal somehow has a double COB already.  OpenAPS pill during this time is reporting COB=0.  Shows carbs entered at 9:22
![112_-5_](https://cloud.githubusercontent.com/assets/12402160/22663382/3a61fd26-ec61-11e6-8b52-90c222a91b8a.jpg)

At 9:25, same situation.  OpenAPS pill show

[2017-02-06 19:51] cjo20 commented on #387
I think this is just an issue with entering carb details twice. A Bolus Wizard record is created when you enter BG and carbs (when the recommendation is made), so if you back out of it the "BolusWizard" record is already there. This means that if you enter it again, you get a second record.

These bolus wizard records are separate from bolus records, which are created when the bolus is actually de

[2017-02-06 20:01] Kdisimone commented on #387
My concern is that these are not where someone is backing out of bolus wizard.  They are following the bolus wizard all the way through.  Enter the bolus wizard, they give no BG, they enter carbs, they get the recommended bolus and confirm to deliver.

What about that would cause a double entry?

[2017-02-06 20:04] danamlewis commented on #387
@Kdisimone it sounds like most of these self resolve a few minutes later, too - can you confirm the typical time period where COB re-normalizes, or is this not always happening in every case?

[2017-02-06 20:06] scottleibrand commented on #387
Have you looked at the Nightscout treatments API (https://yournightscout/api/v1/treatments.json) to see what is actually present in the DB?  Could you share a copy-paste excerpt from there, or PM one of us the Nightscout URL to take a look?

[2017-02-06 20:10] Kdisimone commented on #387
This one today is ongoing.  Not self resolving

![111__3_](https://cloud.githubusercontent.com/assets/12402160/22664373/417f314c-ec65-11e6-8e6e-a1a4ac38ac53.jpg)

I will pull up the treatments API now

[2017-02-06 20:14] Kdisimone commented on #387
this covers the time frame of the 9:22 bolus today

[code]

[2017-02-06 20:14] ceben80 commented on #387
I confirm this issue with my 522 pump

[2017-02-06 20:17] Kdisimone commented on #387
Sent the treatments link to you @scottleibrand.  Happy to send to you @cjo20 too, if you want?

[2017-02-06 20:19] Kdisimone commented on #387
this would appear to be the problem...but what is causing that?

![118__4_](https://cloud.githubusercontent.com/assets/12402160/22664655/7881f4ee-ec66-11e6-8c26-9ef1a02af7a3.jpg)

[2017-02-06 20:27] scottleibrand commented on #387
Here is a more readable version of those two records:
[code]

[2017-02-06 20:27] Kdisimone commented on #387
@cjo20 are you thinking that's what a "back out" would look like in treatments log?  @ceben80 can you go back to your treatment logs and look?

[2017-02-06 20:28] Kdisimone commented on #387
What the heck is a carb correction coming from? ;)

[2017-02-06 20:29] Kdisimone commented on #387
Shall I try deleting from NS and see if this helps OpenAPS?

[2017-02-06 20:31] scottleibrand commented on #387
Before deleting, let's look at the pumphistory.json and see if it shows up twice there, or if it's getting the second one from NS...

[2017-02-06 20:32] Kdisimone commented on #387
They should be able to do that when he's picked up from school

[2017-02-06 20:36] cjo20 commented on #387
I think the fact that both are from "openaps://medtronic/723" suggests that it's originating from the pump. I have a vague recollection of something about mmhistorytools combining dual entries of carbs in some cases. I think that the same functionality was added to oref0 a couple of releases ago?

This is a pure speculation without having looked at code yet: It's possible that 723 pumps generate a

[2017-02-06 20:37] Kdisimone commented on #387
The next bolus and carb entry were done by same school nurse and no double entry happened.  Perhaps those were same minute reading for that entry in pump.  I'll make a note about that time too.

[2017-02-06 20:41] Kdisimone commented on #387
But, I also think this is happening on 722 pumps.  Have another rig/pump/openaps user on 722 that I've seen this not self-resolve on.

[2017-02-06 20:43] PieterGit commented on #354
@scottleibrand can you merge this to dev? I will try to find out if there are other ways besides oref0-reset-usb for TI USB stick, but this branch:
- checks out ps2 version subg_rfspy if it's not there
- reads the pump devices from pump.ini instead of vague logic

I think this will make WW pump work on master with oref0-setup.sh

Thanks to @ceben80 for helping me out with testing on an Explorer bo

[2017-02-06 20:46] cjo20 commented on #387
Having looked at the code, I don't think the de-duplication stuff was actually merged, hence deleting my comment.

[2017-02-06 20:48] scottleibrand commented on #387
Perhaps someone would like to test https://github.com/openaps/oref0/pull/375 and see if it fixes this?

[2017-02-06 20:51] Kdisimone commented on #387
I can test that...might take a couple days to see if the negative can be proven, but happy to try.

[2017-02-06 20:53] cjo20 commented on #387
It's worth trying, but I don't think it will fix it. The de-duplication checks for two events with the same carb total with the same timestamp. The two entries here are 45 seconds apart.

https://github.com/openaps/oref0/pull/375/files#diff-060f20ba122b5ef0476eec300d40eeacR55

[2017-02-07 01:13] sulkaharo commented on #387
Afaik the earlier OpenAPS behavior was to always read these as two separate events but only consider the carbs from one of them. The current pump read logic has an issue where the pump can be read during the time the bolus is being administered, so there's a time slot between user having entered the carbs and not having yet confirmed the bolus that'll create a Wizard event with carbs but no bolus

[2017-02-07 01:27] scottleibrand commented on #387
I agree we should unsupport carb-only bolus wizard entries, and ignore carbs entered without at least a 0.1U bolus.

Only reason I can remember for wanting to read pumphistory while bolusing is for extended boluses.

In the SMB branch I've re-done the pump-loop aliases as a single shell script (based on some stuff @cjo20 did): that could have a bolusing check before pulling pumphistory, if that's

[2017-02-07 02:04] moomoobloo commented on #387
AFAIK, the bolus wizard is the only way to enter carbs in offline mode. If we require insulin to be delivered, it would be impossible to enter carb corrections or any other carbs that don't correspond to a bolus when offline. If that's the case, I think it should be supported. Is there a way to distinguish between failed/cancelled bolus wizard records vs ones that are intentionally entered without

[2017-02-07 02:07] scottleibrand commented on #387
I don't know of any way to tell the difference between canceled bolus wizard entries and entries where zero bolus was selected.  Given that, I would prefer to force users to enter a 0.1U bolus with their carbs if they want them considered by oref0, so there is no ambiguity or chance of misinterpretation.

[2017-02-07 02:11] cjo20 commented on #387
If you're going to force a bolus to enter carbs, please can the check be >0 insulin (rather than >= 0.1)

[2017-02-07 02:17] scottleibrand commented on #387
Ok, yeah.  For 523s you can do 0.025U instead of 0.1U like you have to do on 522s, so that would be better.

[2017-02-07 02:22] moomoobloo commented on #387
523 still requires bolus to be >= 0.1 (but basal rate can be as low as .025/hr).

@scottleibrand If you're going to change the behavior to ignore bw entries without insulin, can you make it an optional feature? It's not feasible for small children to get 0.1U along with a carb correction in order for carb logging to work offline.

[2017-02-07 02:23] cjo20 commented on #387
@moomoobloo 554 allows 0.025u boluses.

[2017-02-07 02:29] scottleibrand commented on #387
I just tested and was able to deliver a 0.025U bolus on a non-loopable 523 with 2.5B.  I presume loopable 523s are the same, but maybe not.

[2017-02-07 03:35] scottleibrand commented on #371
Have you seen this again since last week?

[2017-02-07 03:41] scottleibrand commented on #360
This was implemented in https://github.com/openaps/oref0/commit/9eaf97d1

[2017-02-07 03:41] #360 closed

[2017-02-07 03:41] #353 closed

[2017-02-07 03:42] scottleibrand commented on #175
Closing for lack of interest.  Please reopen if that changes.

[2017-02-07 03:42] #172 closed

[2017-02-07 03:44] scottleibrand commented on #183
Closing due to lack of interest.  Please reopen if that changes.

[2017-02-07 03:44] #183 closed

[2017-02-07 03:44] scottleibrand commented on #99
Is there anything left to do here?  Or does #261 resolve this?

[2017-02-07 03:45] scottleibrand commented on #261
Anything else we want to track under this issue?  If not, I think it's ready to be closed.

[2017-02-07 03:45] danamlewis commented on #99
#261 covers 99 (this one) - closed, anyone who wants to track tuning should track #261.

[2017-02-07 03:45] #99 closed

[2017-02-07 03:46] scottleibrand commented on #187
Sounds like this is related to #387

[2017-02-07 03:48] scottleibrand commented on #262
This is now being developed under https://github.com/openaps/oref0/tree/smb

We've been running that branch for several weeks now, and it works well for our scenario.  If anyone else wants to test it, please start with a pump that's not actually administering insulin, and let us know how it behaves.

[2017-02-07 03:50] danamlewis commented on #262
(Repeating: if/when this becomes something tested more broadly, it will be an advanced feature that is disabled by default; documented clearly; and very clearly part of something like oref1 to help clarify the different guiding principles.)

[2017-02-07 03:52] scottleibrand commented on #285
@tmecklem where did you end up with this?  If this got deprioritized, is https://github.com/tmecklem/oref0/tree/remove-ns-upload-pumphistory-entries something someone else could/should pick up and try to run with?

[2017-02-07 03:54] scottleibrand commented on #320
Any volunteers to work on this?

[2017-02-07 03:55] scottleibrand commented on #326
Does anyone use ratios that are different enough at different times of day that you'd be motivated to help me implement ISF/CR schedules in autotune? I've never actually seen such a use case up close, so I'm not sure I can design for it properly.

I'd probably want to start with some retrospective autotune runs against NS data from someone using multiple profiles, see what autotune is suggesting g

[2017-02-07 03:57] scottleibrand commented on #327
I believe the code side of this was resolved by https://github.com/openaps/oref0/pull/384.  Next step is probably to have some folks do testing, and then update the autotune docs to reflect this method (including https://github.com/openaps/oref0/pull/380#issue-205451776).

[2017-02-07 03:59] scottleibrand commented on #325
This seems to be working pretty well as-is.  Closing for now; please reopen if we see any evidence that the algorithm needs adjusting.

[2017-02-07 03:59] #325 closed

[2017-02-07 04:00] #97 closed

[2017-02-07 04:10] scottleibrand commented on #341
Closing this for now.  If anyone wants to help work on any enhancements, please feel free to reopen, open a new more specific issue, or even open a pull request.

[2017-02-07 04:10] #341 closed

[2017-02-07 04:11] scottleibrand commented on #70
Closing for lack of interest.  Please reopen if that changes.

[2017-02-07 04:11] #70 closed

[2017-02-07 04:12] scottleibrand commented on #62
@sulkaharo @PieterGit so is this something we can work on, or should I close this issue?

[2017-02-07 04:15] scottleibrand commented on #340
If anyone is interested in testing this for further development, please let us know.  Otherwise I may go ahead and close this until/unless someone is interested.

[2017-02-07 04:16] scottleibrand commented on #342
If anyone is interested in fixing this in oref0-setup, please speak up.  Otherwise I'll probably go ahead and close this, since we noted it in the docs already.

[2017-02-07 04:55] JELCRAWFORD commented on #387
Hi all - we have a 754 pump and have had issues with the COB report.  The APS will often report more carb than was actually given.  The NS number when we hover over the pill looks as we would expect.  We have not determined cause.  It is NOT double entries - we no longer use careportal for any entries that involve insulin (basically any entry that goes through the pump).  We do use careportal for

[2017-02-07 05:02] JELCRAWFORD commented on #387
One thought - we were just reviewing our COB issues - we can't recall ever seeing this issue except in the evenings.  DS also almost always has a very big spike in the evenings - shortly after he falls asleep, which seems to correspond to the spike.  Admittedly, as we've always had to be 'on' because of the spike, we are usually both watching and it is possible we haven't noticed the same COB issu